.mobile-nav-footer {
  display: none;
  
  @include respond(phone) {
    display: flex;
    position: fixed;
    z-index: 10;
    bottom: calc(6.75rem - 50vh);
    background: $white;
    border-top: #f6f6f6;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    height: 50vh;
    width: 100vw;
    align-items: flex-start;
    box-shadow: 0 -3px 6px rgba($black, .12);
    transition: bottom .2s ease .1s;
    flex-wrap: wrap;
  }

  @include respond(small-phone) {
    bottom: calc(6rem - 50vh);
  }

  &.active {
    bottom: 0;
  }

  &__nav-wrapper {
    width: 100%;
  }

  &__nav {
    display: flex;
    flex-wrap: nowrap;
    bottom: 0;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    height: 6.75rem;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #f1f1f1 !important;

    @include respond(small-phone) {
      height: 6rem;
    }
  }

  &__icon-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 10rem;

    .nav-link {
      padding: 0 !important;
      margin: 0 !important;
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      flex-direction: column !important;
      border: 0 !important;
      border-top: 0 !important;
      background: transparent !important;
    }

    &.go-home .nav-link.active {
      .mobile-nav-footer__icon {
        fill: $green;
      }

      .mobile-nav-footer__text {
        color: $green;
      }
    }
  }

  &.active &__icon-box {
    .nav-link {
      &.active {
        .mobile-nav-footer__icon {
          fill: $green;
        }

        .mobile-nav-footer__text {
          color: $green;
        }
      }
    }

    &.mobile-nav-footer__new-button {
      .nav-link.active {
        .mobile-nav-footer__icon {
          fill: $white;
        }
      }
    }
  }

  &__icon {
    width: 100%;
    height: 2.125rem;
    margin-bottom: 5px;
    fill: #969696;

    @include respond(small-phone) {
      width: 2rem;
      height: 1.7rem;
    }
  }

  &__new-button {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    transform: translateY(-1.8rem);
    box-shadow: 0 -9px 1.2rem -2px rgba($black, .08);

    @include respond(small-phone) {
      width: 4.5rem;
      min-width: 4.5rem;
      height: 4.5rem;
      margin: 0 .5rem;
      transform: translateY(-2.1rem);
    }
  }

  &__new-button-container {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: $green;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 8px rgba($green, .470);

    @include respond(small-phone) {
      width: 3rem;
      height: 3rem;
    }

    .mobile-nav-footer__icon {
      width: 1.8rem;
      height: 1.8rem;
      margin-bottom: 0;
      fill: $white;
      transition: transform .2s ease .3s;

      @include respond(small-phone) {
        width: 1.4rem;
        height: 1.4rem;
      }
    }

    &.active {
      .mobile-nav-footer__icon {
        transform: rotate(45deg);
      }
    }
  }

  &__text {
    color: #8D8D8D;
    line-height: 1;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: uppercase;

    @include respond(small-phone) {
      font-size: 1rem;
    }
  }

  &__body {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 1rem;

    &.new-item-container {
      align-content: flex-start;
      flex-wrap: wrap;
      padding: 0;
    }
  }

  &__new-item {
    width: calc(50% - 2rem);
    height: 5.6rem;
    margin: 1rem;
    padding: 2rem;
    border-radius: .8rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    box-shadow: 0;
    background-image: $white;
    overflow: hidden;
    position: relative;
    border: 1px solid #eee;

    @include respond(small-phone) {
      justify-content: center;
      flex-direction: column;
      padding: .5rem;
    }

    /*
    &.task &__add-new-icon, &.task &__icon {
      fill: $work-task;
    }

    &.task &__text {
      color: $work-task;
    }

    &.contact &__add-new-icon, &.contact &__icon {
      fill: #408FC7;
    }

    &.contact &__text {
      color: #408FC7;
    }

    &.appointment &__add-new-icon, &.appointment &__icon {
      fill: $work-app;
    }

    &.appointment &__text {
      color: $work-app;
    }

    &.resubmission &__add-new-icon, &.resubmission &__icon {
      fill: $resubmission;
    }

    &.resubmission &__text {
      color: $resubmission;
    }
    */

    &__add-new-icon {
      width: 2rem;
      height: 2rem;
      min-width: 2rem;
      min-height: 2rem;
      fill: $green;
      margin-right: 1rem;

      @include respond(small-phone) {
        margin-right: 0;
        width: 1rem;
        height: 1rem;
      }
    }

    &__icon {
      height: 10rem;
      width: 5rem;
      margin-right: 0rem;
      position: absolute;
      opacity: .07;
      right: 0;
      transform: rotate(-31deg);
      fill: $green;

      @include respond(small-phone) {
        opacity: .09;
        right: -8px;
      }
    }

    &__text {
      line-height: 1;
      text-decoration: none;
      font-size: 1.5rem;
      width: auto;
      text-align: left;
      display: flex;
      align-items: flex-start;
      text-align: center;
      color: #969696;

      @include respond(small-phone) {
        margin-top: .5rem;
        font-size: 1.2rem;
      }
    }
  }

  .tab-content {
    width: calc(100% + 2rem);
    height: calc(100% - 6.8rem);
    display: flex;
    padding: 2rem;
    justify-content: flex-start;
    align-items: flex-start;
    background: #f9f9f9;

    @include respond(small-phone) {
      height: calc(100% - 6rem);
    }

    .tab-pane {
      width: 100%;
      height: 100%;
    }

    .header__search {
      display: flex;
      margin-left: 0;
      width: 100%;
      max-width: 100%;
      flex-wrap: wrap;
      align-items: flex-start;

      &__input {
        margin-left: 0;
        background: transparent;
        width: 100%;
        border-bottom: 1px solid #d3d3d3;
        border-radius: 0;
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
        height: 4.8rem;
        padding: .7rem 2rem .7rem 4.4rem;
      }

      &__button {
        border: none;
        padding: 0;
        background: transparent;
        display: flex;
        align-items: center;
        position: absolute;
        left: 0;
        top: 0;
        width: 3.8rem;
        height: 4.6rem;
        align-items: center;
        justify-content: center;
      }

      &__close {
        height: 4.6rem;
        width: 3.8rem;
        background: #f9f9f9;
      }

      &__results {
        width: 100%;
        position: static;
        background: transparent;
        z-index: unset;
        border-radius: 0;
        box-shadow: none;
        max-height: calc(100% - 5.8rem);
        overflow: auto;
        
        &__container {
          overflow: visible;
          margin-top: 0;
          max-height: 100%;
        }
      }
    }

    .home__sidebar {
      width: 100%;
      height: 100%;
      overflow: auto;

      &__coming-up-wrapper {
        padding: 0 1rem;

        &:last-child {
          .home__sidebar__coming-up-box {
            border-bottom: 0;
            margin-bottom: 0;
          }
        }
      }

      &__coming-up-box {
        padding: 0;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
      }
    }

    .side-box {

      &.dashboard-box {
        background: transparent;
        box-shadow: none;
        border: 0;
        overflow: auto;
      }

      &__header {
        display: none;
      }

      &__work-list {
        margin: 0;
      }

      &__work-item {
        margin: 1rem 0;

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}

.mobile-nav-footer-backdrop {
  display:  none;

  &.active {
    width: 100%;
    height: 100vh;
    display: block;
    z-index: 9;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(0);
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
    transition-duration: 200ms;
  }
}