#sidebar {
  width: $sidebar-width;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1003;
  height: 100vh;
  overflow-y: auto;
  background: #F9F9F9;
  border-right: 1px solid #D3D3D3;
  transition: width $sidebar-transition-time;
  @include userSelect;

  @include respond(tab-land) {
    overflow-y: unset;
  }

  &::-webkit-scrollbar-track {
    background-color: $white;
  }

  &::-webkit-scrollbar {
    width: 1px;
    background-color: $white;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #ddd;
  }

  /* Actually Passive */

  &.active {
    width: $sidebar-collapsed-width;
    overflow: visible;
    margin-left: 0;

    @include respond(phone) {
      margin-left: -$sidebar-collapsed-width;
    }
  }

  &.active .side-menu__item-link {
    width: 8rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 1.4rem 0;
  }

  &.active .side-menu__icon-box {
    margin-right: 0;
  }

  &.active .side-menu__item-name {
    font-size: 1rem;
    margin-top: 4px;
    padding: 0 .5rem;
    text-align: center;
    line-height: 1.3;
  }

  &.active .side-menu__item-link--has-child:after {
    opacity: 0;
    display: none;
  }

  &.active .side-menu__item:before {
    transition: transform .1s;
  }

  &.active .side-menu__child-list {
    position: absolute;
    left: 8rem;
    top: 1.4rem;
    width: 20rem;
    display: none;
  }

  &.active .side-menu__item:hover,
  &.active .side-menu__item:active,
  &.active .side-menu__item:focus-within {
    .side-menu__child-list {
      display: block;

      @include respond(tab-land) {
        display: none;
      }
    }
  }

  &.active .sidebar__navigation-toggle {
    @include respond(phone) {
      margin-left: $sidebar-collapsed-width;
    }
  }
}

.sidebar {
  
  &__navigation-toggle {
    width: $sidebar-collapsed-width;
    height: $header-height;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;

    @include respond(phone) {
      margin-left: 0;
    }

    &__icon {
      width: 3.4rem;
      height: 2.2rem;
      fill: $bxp-blue;
      transition: transform .2s;
    }
  }
}

.sidebar-backdrop {
  @include respond(tab-land) {
    content: " ";
    width: 100%;
    height: 100vh;
    display: block;
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition-property: opacity;
    transform: translateZ(0);
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
    transition-duration: 200ms;
  }

  &.active {
    @include respond(tab-land) {
      opacity: 0;
      z-index: -1;
      display: none;
    }
  }
}