.container {
  /* max-width: 95%; We need more space for tables. */
  max-width: 100%;

  @include respond(desktop) {
    max-width: 100%;
  }

  &.home-container {
    padding-right: calc(#{$home-sidebar-width} + 15px);

    @include respond(tab-port) {
      padding-right: 15px;
    }

    .alert {
      margin: 0 2rem;
      width: calc(100% - 4rem);

      @include respond(desktop) {
        margin: 0 1rem;
        width: calc(100% - 2rem);
      }
    }
  }
}