.home {
  width: 100%;
  display: flex;

  &__sidebar-wrapper {
    width: $home-sidebar-width;
    background: #fff;
    position: fixed;
    right: 0;
    top: 6.8rem;
    height: 100%;
    border-left: 1px solid #D3D3D3;
  

    @include respond(tab-port) {
      display: none;
    }
  }

  &__sidebar {
    &__statistics {
      border-top: 1px solid #D3D3D3;
      border-bottom: 1px solid #D3D3D3;
      display: flex;
      justify-content: space-between;
    }

    &__statistic-box {
      padding: 1.1rem .8rem;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-grow: 1;

      &:not(:last-child) {
        border-right: 1px solid #D3D3D3;
      }

      h4 {
        color: #343434;
        font-size: 1.6rem;
        font-weight: 500;
        margin-bottom: 0;
      }

      span {
        font-size: 1rem;
        color: #9E9E9E;
        font-weight: 600;
        text-transform: uppercase;
        width: 100%;
      }
    }

    &__coming-up-title {
      color: #A7A7A7;
      font-size: 1.1rem;
      font-weight: 600;
      text-transform: uppercase;
      margin: 2.8rem 2.3rem;
      margin-bottom: 0;
    }

    &__coming-up-wrapper {
      padding: 0;
    }

    &__coming-up-box {
      padding: 2rem 2.3rem;
      border-bottom: 1px solid #D3D3D3;

      &__title-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        padding-right: 2rem;
      }

      &__title {
        color: #464646;
        font-size: 1.4rem;
        font-weight: 500;
      }

      &__date {
        display: block;
        font-size: 1.2rem;
        color: #777777;
        margin-bottom: 1rem;
      }

      &__show-more {
        color: #0069b4 !important;
        display: inline-block;
        margin: 1.5rem 2.3rem;
        font-weight: 500;
        font-size: 1.4rem;
      }

      &.empty {
        font-size: 1.3rem;
        color: #959595;
      }
    }

    &__coming-up-boxes {
        height: calc(100vh - 43rem);
        overflow-y: auto;

      &::-webkit-scrollbar-track {
        background-color: $white;
      }
    
      &::-webkit-scrollbar {
        width: 2px;
        background-color: $white;
      }
    
      &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: #ddd;
      }
    }
  }
}

.dashboard-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;

  &__box {
    max-width: 33.33333%;
    flex: 0 0 33.33333%;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 4rem;
    align-self: flex-start;
    height: 49.4rem;

    @include respond(desktop) {
      padding-left: 1rem;
      padding-right: 1rem;
      margin-bottom: 2rem;
    }

    @include respond(small-desktop) {
      max-width: 50%;
      flex: 0 0 50%;
    }

    @include respond(tab-land) {
      max-width: 100%;
      flex: 0 0 100%;
    }

    &.big {
      max-width: 66.66666%;
      flex: 0 0 66.66666%;

      @include respond(small-desktop) {
        max-width: 100%;
        flex: 0 0 100%;
      }
    }
  }
}

.newsfeed-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;

  &__box {
    margin-bottom: 3rem;
    align-self: flex-start;

    &__actions {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .feed-sidebar {
    width: 87%;
    margin-left: auto;
  }

  &__left {
    flex: 0 0 55%;
    max-width: 55%;
  }

  &__right {
    flex: 0 0 37%;
    max-width: 37%;
  }
}