/* 
** All works including Annoucenment, Lead, Deal, Offer, Order.
** More info: https://gitlab.com/bauexperts-bxp/api/issues/165 
*/
.work {
  &__top-bar {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row-reverse;

    .btn-stamp {
      margin-left: 1rem;
    }

    .dropdown-work-action {
      margin-bottom: 0;
    }
  }
  
  &__header {
    background: $white;
    border-radius: .5rem;
    /*padding: 3.2rem 3.5rem 1.7rem 3.5rem;*/
    padding: 3rem;
    border: 1px solid #D8D8D8;
    position: relative;

    @include respond(small-desktop) {
      padding: 2.2rem 2.5rem .7rem 2.5rem;
    }

    @include respond(tab-land) {
      padding: 1.8rem 1.5rem .7rem 1.5rem;
    }

    @include respond(small-tab-port) {
      padding: 2rem 1rem;
      margin-top: 4.8rem;
    }

    @include respond(small-phone) {
      margin-left: -2rem;
      margin-right: -2rem;
      border-right: 0;
      border-left: 0;
      border-radius: 0;
      margin-top: 2.4rem;
    }

    &.green {
      box-shadow: inset 4px 0 0 0 $green;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &.yellow {
      box-shadow: inset 4px 0 0 0 $orange;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &.red {
      box-shadow: inset 4px 0 0 0 $red;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &.blue {
      box-shadow: inset 4px 0 0 0 $bxp-blue;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &.project-header {
      @include respond(tab-port) {
        margin-top: 4.8rem;
      }
    }

    &__router-link {
      position: absolute;
      top: 1rem;
      right: 1rem;

      a {
        margin-left: auto;
        font-size: 1.2rem;
        font-weight: 600;
        color: $green;
        border: 1px dashed #ededed;
        padding: .7rem 1rem;
        line-height: 1;
      }
    }
  }

  &__header-contact {
    display: flex;
    margin-bottom: .5rem;

    @include respond(small-tab-port) {
      width: 100%;
    }
  }

  &__contact-details {
    /*width: 90%;*/
    width: 100%;
    display: flex;
    align-items: flex-start;

    @include respond(small-desktop) {
      width: 83%;
    }
    
    @include respond(small-tab-port) {
      width: 100%;
    }

    @include respond(small-phone) {
      margin-bottom: 1rem;
    }
  }

  &__contact-field {
    display: flex;
    width: 25%;
    align-items: flex-start;
    flex-grow: 1;

    @include respond(small-phone) {
      justify-content: center;
      flex-wrap: wrap;
      text-align: center;
    }

    .icon-rounded {
      margin-right: 1.8rem;

      @include respond(tab-land) {
        margin-right: 1.2rem;
      }

      @include respond(small-tab-port) {
        margin-right: .8rem;
      }

      @include respond(small-phone) {
        margin-right: 0;
      }
    }

    &__text {
      flex-wrap: wrap;
      display: flex;
      width: calc(100% - 6.4rem);

      @include respond(tab-land) {
        width: calc(100% - 4.8rem);
      }

      @include respond(small-phone) {
        width: 100%;
      }
    }

    &__title {
      font-size: 1.7rem;
      font-weight: 400;
      line-height: 1.2;
      color: #636363;
      width: 100%;
      margin-bottom: .3rem;
      padding-right: 1rem;

      @include respond(small-desktop) {
        font-size: 1.6rem;
      }

      @include respond(tab-land) {
        font-size: 1.4rem;
      }

      @include respond(small-tab-port) {
        font-size: 1.3rem;
      }

      @include respond(small-phone) {
        padding-right: 0;
      }

      &--bold {
        font-weight: 500;
      }
    }

    &__sub-title {
      font-size: 1.4rem;
      color: #5D5D5D;
      font-weight: 400;
      line-height: 1.4;
      width: 100%;

      @include respond(small-desktop) {
        font-size: 1.3rem;
      }

      @include respond(tab-land) {
        font-size: 1.2rem;
      }

      @include respond(small-tab-port) {
        font-size: 1.1rem;
      }

      .btn-edit-small {
        @include respond(small-phone) {
          display: none;
        }
      }
    }
  }

  &__work-type {
    width: auto;
    justify-content: flex-end;
    position: absolute;
    right: 4rem;
    top: 3.8rem;
    display: flex;
    align-items: center;

    &__icon-box {
      background: $orange;
      width: 3rem;
      min-width: 3rem;
      height: 3rem;
      min-height: 3rem;
      border-radius: 50%;
      margin-right: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__icon {
      fill: $white;
      width: 1.8rem;
      height: 1.8rem;
      margin-left: 2px;
    }
  }

  &__contact-actions {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-flow: column;
    align-items: flex-end;
    padding: 1rem;

    @include respond(desktop) {
      width: 100%;
      align-items: center;
    }

    @include respond(tab-land) {
      padding-left: .2rem;
    }

    @include respond(small-tab-port) {
      padding-left: 0;
      padding-right: 0;
      flex-flow: row;
      padding: 0;
      justify-content: space-between;
    }

    .dropdown {
      .btn {
        margin-bottom: 0 !important;
      }
    }

    .btn {

      &:not(:last-child) {
        margin-bottom: 1rem;

        @include respond(small-tab-port) {
          margin-bottom: 0;
        }
      }
    }
  }

  &__progress-bar-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include respond(small-tab-port) {
      flex-wrap: wrap;
    }

    &.vergabe {
      align-items: center;
    }
  }

  &__header-info {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    margin-bottom: 4.2rem;
    line-height: 1;
    font-size: 1.3rem;
    color: #717171;

    @include respond(small-tab-port) {
      margin-bottom: 2.2rem;
    }

    @include respond(small-phone) {
      margin: -.3rem;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin: 2rem 0;
    }

    &.project {
      @include respond(tab-port) {
        display: none;
      }
    }

    &__lead-owner {
      color: #717171;
      font-size: 1.3rem;
      
      &:not(:last-child) {
        margin-right: 2rem;
      }

      span {
        font-size: 1.3rem;
      }

      &__span {
        font-size: 1.3rem;

        @include respond(tab-port) {
          font-size: 1.1rem;
        }
      }

      a {
        font-size: 1.3rem;
        cursor: auto;
      }
    }
  }

  /* Work Main Content */

  &__main {
    display: flex;
    justify-content: space-between;

    @include respond(tab-land) {
      flex-wrap: wrap;
    }

    @include respond(small-tab-port) {
      position: relative;
    }
  }

  &__left-sidebar {
    width: 25.2%;

    @include respond(tab-land) {
      width: 36%;
    }

    @include respond(small-tab-port) {
      width: 48%;
    }
    
    @include respond(small-phone) {
      width: 100%;
    }
  }

  &__right-sidebar {
    width: 27.5%;

    @include respond(tab-land) {
      width: 36%;
      margin-top: 2.4rem;
      order: 1;
    }

    @include respond(small-tab-port) {
      width: 47%;
      margin-top: 0;
    }

    @include respond(small-phone) {
      width: 100%;
      margin-top: 2.4rem;
    }
  }

  &__main-content {
    width: 38.3%;
    display: flex;
    flex-grow: 1;
    margin: 0 4%;

    @include respond(tab-land) {
      margin-left: 6%;
      margin-right: 0;
      position: relative;
      width: 44.3%;
    }

    @include respond(small-tab-port) {
      margin-left: 0;
      margin-right: 0;
      position: static;
      width: 100%;
      order: 3;
      margin-top: 3rem;
    }
  }

}

/* Contact Add Box Popup */
.contact-add-box {
  background-color: #FFF;
  width: 29rem;
  position: absolute;
  border-radius: .5rem;
  border: 1px solid #D8D8D8;
  padding: 1rem;
  z-index: 9;
  min-width: 25rem;
  right: -7.9rem;
  top: 4.5rem;
  box-shadow: 0px 2px 1.2rem rgba(0, 0, 0, 0.175);
  color: #636363;

  @include respond(small-desktop) {
    right: -12.2rem;
  }

  @include respond(small-phone) {
    right: 0;
  }

  &:before {
    content: '';
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 10px solid #D9D9D9;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);

    @include respond(small-phone) {
      transform: none;
      left: auto;
      right: 1.1rem;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    color: #636363;
    font-size: 1.5rem;
    padding: 1.5rem 1rem;

    &:hover {
      background: #f9f9f9;
      color: $bxp-blue !important;

      .icon-rounded__icon {
        fill: $bxp-blue;
      }
    }

    &.no-hover:hover {
      background: transparent;
      color: #636363 !important;
    }

    &.add-new {
      color: $green;

      &:hover {
        color: $green !important;
      }

      .icon-rounded__icon {
        fill: $green;
      }
    }
  }
}

.contact-search-box {
  display: flex;
  position: relative;

  &__button {
    border: none;
    padding: 0;
    background-color: transparent;
    position: absolute;
    left: 2.4rem;
    top: 50%;
    transform: translateY(-50%);

    &:focus {
      outline: none;
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: #ccc;
  }
}

.contact-add-box > .search-results {
  border-bottom: 1px solid #D8D8D8;
}

/* Project Page */
.project-header {
  display: flex;
  padding: 3.2rem 3.5rem;
  justify-content: space-between;
  flex-wrap: wrap;

  @include respond(tab-port) {
    padding: 2.2rem 1.5rem;
  }

  &__image-wrapper {
    width: 8%;
  }

  &__right {
    width: 90%;
  }

  &__details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    margin-top: .5rem;
  }

  &__field {
    width: auto;
    display: flex;
    flex-wrap: wrap;

    &:not(:last-child) {
      margin-right: 3rem;

      @include respond(tab-land) {
        margin-right: 2rem;
      }
    }

    &.project-edit-field {
      @include respond(tab-port) {
        display: none;
      }
    }

    &__title {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.2;
      color: #636363;
      width: 100%;

      @include respond(tab-land) {
        font-size: 1.4rem;
      }

      @include respond(small-tab-port) {
        font-size: 1.2rem;

        @include respond(small-phone) {
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 9rem;
          white-space: pre-wrap;
        }
      }

      &--bold {
        font-weight: 500;
      }
    }

    &__sub-title {
      font-size: 1.2rem;
      color: #5D5D5D;
      font-weight: 400;
      line-height: 1.4;
      width: 100%;

      @include respond(small-tab-port) {
        font-size: 1rem;
      }
    }

    &.description-field {
      @include respond(phone) {
        display: none;
      }
    }

    &.type-field {
      @include respond(phone) {
        margin-right: 0;
      }
    }
  }

  &__note {
    width: 100%;

    @include respond(tab-land) {
      width: 76%;
    }
    
    @include respond(tab-port) {
      width: 100%;
    }

    &__title {
      font-size: 1.5rem;
      line-height: 1.2;
      color: #636363;

      @include respond(tab-port) {
        font-size: 1.4rem;
      }

      @include respond(phone) {
        font-size: 1.2rem;
      }
    }

    &__paragraph {
      margin-bottom: 0;
      font-size: 1.2rem;
      line-height: 1.5;
    }

    
    @include respond(tab-port) {
      font-size: 1.1rem;
    }

    @include respond(phone) {
      font-size: 1rem;
    }
  }

  &__specifications {
    background: #5D5D5D;
    padding: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 1px;

    &__icon {
      fill: #fff;
      width: 1rem;
      height: 1rem;
    }
  }

  .work__progress-bar-wrapper {
    @include respond(tab-land) {
      position: relative;
    }
  }
}

.project-tabs {
  width: 100%;

  &__navigation {
    list-style: none;
    padding: 0;
    width: 100%;
    display: flex;
    margin-bottom: 0;
    min-height: 4.9rem;
    z-index: 2;
    margin-bottom: -1px;

    &__tab {
      color: #636363;
      font-size: 1.4rem;
      font-weight: 500;
      text-transform: uppercase;
      line-height: 1.2;
      margin-bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: .7rem 2.5rem;
      cursor: pointer;
      border-top-left-radius: .5rem;
      border-top-right-radius: .5rem;
      border: 1px solid transparent;

      &:hover {
        
      }

      &.active {
        border: 1px solid #efefef;
        border-bottom: none;
        background: $white;
      }
    }
  }

  &__tab-content-wrapper {
    background: $white;
    padding: 2rem;
    min-height: 50rem;
    border-radius: .5rem;
    border: 1px solid #efefef;

    &.no-border-radius {
      border-top-left-radius: 0;
    }
  }

  &__count-badge {
    font-size: 1rem;
    height: 1.4rem;
    width: 1.4rem;
    padding: 2px;
    border-radius: 50%;
    background-color: $green;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2px;
  }
}