@mixin clearFix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin boxShadow {
  /*box-shadow: 0 0 11px #dedede;*/
  box-shadow: 0 3px 6px rgba($black, .08);
  
}

@mixin textShadow {
  text-shadow: 0 3px 1rem rgba($black, 0.15);
}

@mixin wordBreak {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

@mixin userSelect {
  user-select: none;
}

@mixin navigationGroupSpace {
  margin-bottom: 3.5rem;
}

@mixin dot(
  $width: $dot-width,
  $height: $dot-height,
  $radius: $dot-radius,
  $bg-color: $dot-bg-color,
  $color: $dot-color
) {
  width: $width;
  height: $height;
  border-radius: $radius;
  background-color: $bg-color;
  color: $color;
}


// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet Portrait
900 - 1200px:   Tablet Landscape
[1200 - 1800]   Default / Desktop
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px

Example usage: 

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  @include respond(tab-land) { // width < 1200px
      font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) { // width < 900px
      font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }
}

*/
@mixin respond($breakpoint) {
  @if $breakpoint == small-phone {
    @media only screen and (max-width: 29.93em) { @content };    //479px
  }
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) { @content };    //600px
  }
  @if $breakpoint == small-tab-port {
    @media only screen and (max-width: 47.93em) { @content };     //767px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) { @content };     //900px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) { @content };    //1200px
  }
  @if $breakpoint == small-desktop {
    @media only screen and (max-width: 87.5em) { @content };    //1400px
  }
  @if $breakpoint == desktop {
    @media only screen and (max-width: 100em) { @content };    //1600px
  }
}
