// These are our default variables
$primary: rgba(0,116,183, 1);
$dark: #3c3c3c;
$border-color: #ccc;
$font-family-sans-serif: 'Roboto', sans-serif;

$default-font-size: 1.6rem;

$bxp-blue: #0069b4;
$bxp-light-blue: #00c3f5;

$gray: #969696;
$light-gray: #EDEDED;
$dark-gray: #505050;

$header-height: 6.8rem;
$sidebar-width: 22rem;
$sidebar-collapsed-width: 8.1rem;
$sidebar-transition-time: .1s;

$home-sidebar-width: 28rem;

$red: #E74C3C;
$green: #29C484;
$orange: #F1C40F;

$work-app: #0FB9B1;
$work-task: #9E4554;
$work-doc: #34495E;
$work-contact: #408FC7;
$work-offer: #8E44AD;
$work-collaborator: #675B44;
$work-tracking-link: #ED783F;
$resubmission: #8E44AD;

$dot-width: .8rem !default;
$dot-height: .8rem !default;
$dot-radius: $dot-width/2 !default;

$dot-color: $red !default;
$dot-bg-color: $dot-color !default;
$dot-before-color: $dot-color !default;
$dot-after-color: $dot-color !default;

$dot-spacing: $dot-width + $dot-width/2 !default;