.badge-status {
  background: #D2D2D2;
  color: $white;
  border-radius: 1.3rem;
  padding: 3px 2rem;
  font-size: 1.5rem;

  &.orange {
    background: $orange;
  }

  &.green {
    background: $green;
  }

  &.red {
    background: $red;
  }
}

.badge-work-status {
  font-size: 1rem;
  font-weight: 500;
  background: #f5f5f5;
  color: #989898;
  padding: 2px 8px;
  border-radius: .3rem;
  margin: 2px;
  margin-left: 5px;
  display: inline-block;

  @include respond(tab-land) {
    font-size: .9rem;
    font-weight: 400;
    padding: 2px 5px;
  }

  @include respond(small-phone) {
    margin-left: 0;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    width: auto;
    text-overflow: ellipsis;
    justify-content: flex-start;
    text-align: left;
    display: block;
  }
  
  &.current {
    background: $orange;
  }
  
  &.completed {
    background: $green;
  }

  &.expired {
    background: $red;
    color: $white;
  }
}

.badge-dashboard {
  background: #D2D2D2;
  color: gray;
  border-radius: 5px;
  padding: 2px 1rem;
  font-size: 1.1rem;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 600;
  font-style: normal;

  &.red {
    background: #FCC3BD;
    color: $red;
  }

  &.yellow {
    background: #FDF6BD;
    color: #b59204;
  }

  &.green {
    background: #E6FFFE;
    color: #0FB9B1;
  }

  &.blue {
    background: #DDEFFF;
    color: #3D84C0;
  }

  &.sm {
    padding: 4px;
    font-size: 1.1rem;
  }
}

.badge-task {
  color: $work-task;
  background-color: #ececec;
  font-weight: 400;
  font-size: 1.05rem;

  &--warning {
    font-weight: 700;
  }
}

.badge-resubmission {
  color: $resubmission;
  background-color: #ececec;
  font-weight: 400;
  font-size: 1.05rem;

  &--warning {
    font-weight: 700;
  }
}

.badge-pro {
  background-image: linear-gradient(to right bottom, $bxp-blue, $bxp-light-blue);
  color: $white !important;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 3px;
  padding: 3px 6px;
  margin-left: 6px;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;
}

.badge-starter {
  background: #f4f4f4;
  color: $bxp-blue !important;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 3px;
  padding: 3px 6px;
  margin-left: 6px;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;
}


.badge-count-primary {
  border-radius: 10rem;
  font-size: 1.1rem;
  padding: 2px .4rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  color: $white;
  background: $red;
  margin: 0 4px;

  &:last-child {
    margin-right: 0;
  }
}

.badge-count-secondary {
  border-radius: 10rem;
  font-size: 1.1rem;
  padding: 2px .6rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  line-height: 1;
  white-space: nowrap;
  color: #6e6e6e;
  background: $white;
  margin: 0 4px;

  &:last-child {
    margin-right: 0;
  }
}

.shared-screen {
  color: #969696;
  font-size: 1.3rem;
  border-radius: 0;
  width: auto;
  padding: 0rem 1rem;
  margin-right: auto;
  display: flex;
  align-items: center;

  b {
    font-weight: 500;
    margin: 0 4px;
  }

  img {
    height: 3rem;
  }

  &.right {
    margin-left: auto;
    margin-right: 0;
  }

  &.white {
    color: $white;
  }
}

.table-status-badge-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

}

.table-status-badge {
  width: 1.1rem;
  min-width: 1.1rem;
  height: 1.1rem;
  min-height: 1.1rem;
  border-radius: 50%;

  &.blue {
    background: $bxp-blue;
  }

  &.green, &.won {
    background: #29C484;
  }

  &.red, &.lost {
    background: $red;
  }

  &.gray {
    background: #505050;
  }

  &.orange, &.draft {
    background: #f1c40f;
  }

  &.white {
    background: $white;
    border: 1px solid transparent;
    box-shadow: inset 0 0 2px $black;
  }

  &.none {
    background: #eaeaea;
  }
}

.table-status-badge__footer {
  font-size: 1.2rem;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
  padding-left: .4rem;

  &__status-wrapper {
    display: flex;
    align-items: center;
    color: #767676;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  .table-status-badge {
    display: inline-block;
    margin-right: .5rem;
    border: 2px solid $white;
  }
}

.badge-small {
  font-size: 70%;
  font-weight: 400;
  margin-left: auto;
  background: $bxp-blue;
  color: $white;
  padding: 3px 6px;
  border-radius: .7rem;
  line-height: 1;
}

.badge-bill {
  color: $white;
  background-color: $work-doc;
  font-weight: 400;
  font-size: 1.05rem;
  margin: .3rem 0;
  margin-right: .5rem;
  font-style: normal;

  &.green {
    background-color: $green;
  }

  &.orange {
    background-color: $orange;
  }

  &.red {
    background-color: $red;
  }

  &.blue {
    background-color: #408FC7;
  }

  &.cursor {
    cursor: pointer;
  }
}