.content-box {
  background: #fff;
  border: 1px solid #DEDEDE;
  border-radius: .5rem;
  padding: 4.2rem 4.6rem;
  width: 100%;

  @include respond(tab-port) {
    padding: 2.6rem 3rem;
  }

  @include respond(small-phone) {
    padding: 2rem 2.2rem;
  }

  &--contact-table {
    padding: 3rem 5.7rem;

    @include respond(small-desktop) {
      padding: 2rem 4.7rem;
    }

    @include respond(small-phone) {
      padding: 2rem 1.7rem;
    }
  }

  &--feature-box {
    padding: 0;
    cursor: pointer;
    margin-bottom: 2.7rem;
    position: relative;
    
    &:hover { 
      outline: 2px dashed #dedede;
      outline-offset: -2px;
      border: 1px solid transparent;
      
      .edit-feature{
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &--feature-form {
    margin-bottom: 2.7rem;
    border: 2px dashed #dedede;
  }

  &--verifications-table {
    padding: 0;

    &__form {
      display:flex;
      flex-wrap:wrap;
      padding:1.5rem 0rem;

      &__search-form {
        margin-right:1rem;
        flex-basis:49%;
        @include respond(small-tab-port){
          flex-basis: 100%;
          margin-right:0rem;
        }

        input[type="search"]{
          padding-left:3rem;
          padding-right:1rem;
        }

        &__icon {
          width:1.4rem;
          height:1.4rem;
          fill: #828282;
          position: absolute;
          margin-left: 1rem;
          margin-top: 1rem;
        }
      }

      &__multiple-select{
        flex-basis: 49%;
        @include respond(small-tab-port){
          flex-basis: 100%;
          margin-top: 1rem;
        }
      }
    }
  }

  &--table-external-top-form {
    width: 100%;
    margin-bottom: 2rem;
    padding: 0;
    background: transparent;
    border: 0;
    display: flex;
    align-items: center;

    .form {
      width: 50%;

      @include respond(tab-port) {
        width: 80%;
      }
    }

    &__search {
      padding-left: 3rem!important;
    }
  }

  &--work-table {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
    padding: 0;
    min-height: 69vh;
    display: flex;
    flex-direction: column;
  }

  &__service-settings {
    width: 100%;

    &__address-container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 1rem;
    }

    &__address-wrapper {
      padding: 2rem;
      border: 1px solid #f7f7f7;
      font-size: 1.4rem;
      display: flex;
      width: 100%;
      margin-bottom: 1rem;

      &:not(:last-child) {
        margin-right: 1rem;
      }
    }

    &__left {
      width: 55%;
    }

    &__right {
      width: 45%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;

      &__toggle-wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;
        justify-content: flex-end;
      }

      &__multiselect-wrapper {
        width: 28rem;
      }
    }
  }

  &.responsive-table-wrapper {
    @include respond(tab-land) {
      border: transparent;
      background: transparent;
      overflow: initial;
      min-height: auto;
    }
  }

  &.grid-table-wrapper {
    border: transparent;
    background: transparent;
    overflow: initial;
    min-height: auto;
  }
}