.events {
  padding: 0 0 2.5rem;
  width: 100%;

  @include respond(tab-land) {
    position: absolute;
    top: 0;
    left: 0;
  }

  @include respond(small-tab-port) {
    position: static;
  }
  
  &__title {
    color: #909090;
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.2;
    margin-top: 2.7rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(small-desktop) {
      font-size: 1.3rem;
      margin-top: 2.4rem;
      margin-bottom: 2.7rem;
    }

    &.future-events {
      @include respond(small-tab-port) {
        
      }
    }
  }

  /* Add new section - action buttons */
  &__add-new {
    padding: 0;
  }

  &__add-event-button {
    font-size: 1.6rem;
    color: #636363;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-bottom: 2.6rem;

    &:hover {
      text-decoration: none;
    }
    
    &__icon {
      width: 1.3rem;
      height: 1.3rem;
      fill: #636363;
      margin-right: 1.1rem;
    }
  }

  &__buttons-wrapper {
    display: flex;
    flex-wrap: wrap;

    @include respond(small-desktop) {
      margin-top: -.5rem;
      margin-left: -.5rem;
      margin-right: -.5rem;
    }
  }

  /* Events Timeline for future & past events */
  &__timeline {

    &.future-events {
      @include respond(small-tab-port) {
        
      }
    }
  }

  &__timeline-list {
    padding: 0;
    list-style: none;
    margin: 0;
  }

  &__timeline.future-events &__timeline-list {
    @include respond(small-tab-port) {
      
    }
  }

  &__timeline-item-container {
    display: flex;
    align-items: flex-start;
    overflow: hidden;

    &:not(:last-child) {
      .events__timeline-item__icon-box:before {
        content: "";
        width: 2px;
        height: 100vh;
        background: #e6e6e6;
        position: absolute;
        top: 0rem;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        z-index: -1;
      }
      
      .events__timeline-item {
        margin-bottom: 4.5rem;

        &__private {
          margin-right: .5rem;
        }
      }
    }
  }

  &__timeline-item {
    display: flex;
    align-items: flex-start;
    width: 100%;

    &__icon-box {
      width: 3.9rem;
      height: 3.9rem;
      background: $white;
      border-radius: .5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 3rem;
      position: relative;
      @include boxShadow;

      @include respond(small-desktop) {
        width: 3.6rem;
        height: 3.6rem;
        margin-right: 2rem;
      }
    }

    &__icon {
      width: 1.7rem;
      height: 1.7rem;
      fill: #9B9B9B;

      @include respond(small-desktop) {
        width: 1.5rem;
        height: 1.5rem;
      }

      &.work {
        fill: $orange;
      }

      &.email {
        fill: $orange;
      }

      &.phone {
        fill: $red;
      }

      &.appointment {
        fill: $work-app;
      }

      &.note {
        fill: $work-app;
      }

      &.task {
        fill: $work-task;
      }

      &.collaborator {
        fill: $work-task;
      }

      &.document {
        fill: $work-doc;
      }

      &.property {
        fill: $work-doc;
      }

      &.tracking-link {
        fill: $work-doc;
      }

      &.contact {
        fill: $work-contact;
      }

      &.offer {
        fill: $work-offer;
      }

      &.icon-phone {
        fill: #4AAE48;
      }

      &.icon-email {
        fill: #8C7AE6;
      }

      &.icon-fax {
        fill: #06A085;
      }

      &.icon-incoming-email {
        fill: #487EB0;
      }

      &.icon-marker {
        fill: #34495E;
      }

      &.icon-consultation {
        fill: #8E44AD;
      }

      &.icon-more {
        fill: #797979;
      }

      &.icon-contact-form {
        fill: #0074B7;
      }

      &.icon-message {
        fill: #055864;
      }
    }

    &__text-wrapper {
      width: calc(100% - 6.9rem);
      display: flex;
      justify-content: space-between;

      &__left {
        width: 81%;

        @include respond(phone) {
          width: 95%;
        }
      }

      &__right {
        flex-direction: column;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        text-align: right;
      }
    }

    &__name {
      color: #808080;
      font-size: 1.4rem;
      font-weight: 500;
      text-transform: uppercase;

      &:hover {
        .events__timeline-item__name__title-wrapper__edit-btn{
          visibility: visible;
          opacity: 1;
        }
      }

      @include respond(small-desktop) {
        font-size: 1.3rem;
      }

      span {
        color: $bxp-blue;
      }
      
      &__title-wrapper {
        display: flex;
        padding-right: 4rem;
        position: relative;
        align-items: center;

        &__edit-btn {
          opacity: 0;
          visibility: hidden;
          transition: all .3s ease;
          width: 3rem;
          height: 3rem;
          border-radius: 50%;
          background: $light-gray;
          border: none;
          outline: none;
          margin-left: .5rem;
  
          &__icon {
            width: 1.2rem;
            height: 1.2rem;
            fill: $gray;
            transition: all .3s ease;
          }

          &:focus {
            outline:none;
            border: none;
          }

          &:hover {
            .events__timeline-item__name__title-wrapper__edit-btn__icon {
              fill: $primary;
            }
          }
        }

      }

    }

    &__description {
      font-size: 1.3rem;
      color: #797979;
      line-height: 1.4;

      @include respond(small-desktop) {
        font-size: 1.2rem;
      }
    }

    &__description-info {
      font-weight: 500;
    }

    &__description-date {
      font-weight: 400;
      color: $green;

      &.future-event {

      }

      &.past-event {

      }
    }

    &__attached-file {
      font-size: 1.3rem;
      color: #717171;
      width: 100%;
      display: flex;
      align-items: center;
      margin-top: 2.7rem;

      &__icon {
        width: 1.2rem;
        height: 1.2rem;
        fill: #767676;
        margin-right: 3px;
      }
    }

    &__date {
      line-height: 1.3;
      font-size: 1.3rem;
      color: #717171;
      margin-bottom: .5rem;
      font-style: italic;
    }
  }
}
