.feed-calendar {
  padding: 3rem 2.7rem;

  &__incoming-box {
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #D8D8D8;
    border-left: 5px solid #408FC7;
    display: flex;
    align-items: center;
    margin-bottom: 1.2rem;
    transition: margin .1s;

    &__date-box {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
      text-align: center;
    }

    &__date {
      font-size: 2.2rem;
      font-weight: 600;
      line-height: 1;
    }

    &__day {
      font-size: 1.2rem;
      font-weight: 500;
    }

    &__title-box {
      display: flex;
      justify-items: center;
      flex-flow: column;
      border-left: 1px solid #d8d8d8;
      padding-left: 1rem;
      margin-left: 1rem;
    }

    &__title {
      font-size: 1.3rem;
      font-weight: 500;
    }

    &__category {
      font-size: 1.3rem;
      font-style: italic;
    }

    &.task {
      border-left-color: $work-task;
    }

    &.event {
      border-left-color: #408FC7;
    }

    &.appointment {
      border-left-color: $work-app;
    }

    &:hover {
      margin-left: -4px;
    }
  }

  &__show-more {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
  }
}