.feed-box {
  width: 100%;
  background: $white;
  border: 1px solid #D8D8D8;
  padding: 2.3rem 4.6rem;
  margin-bottom: 4.5rem;

  &__header {
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
    margin-bottom: 2.2rem;
    border-bottom: 1px solid #D6D6D6;

    &__user-photo-wrapper {
      width: 5.9rem;
      height: 5.9rem;
      border-radius: 50%;
      overflow: hidden;
      display: inline-flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      margin-right: 2rem;
    }

    &__user-photo {
      width: auto;
      height: 5.9rem;
    }

    &__user-info {
      display: flex;
      flex-direction: column;
    }

    &__pre-title {
      font-size: 1.3rem;
      color: #525252;
      line-height: 1;
    }

    &__title {
      font-size: 1.6rem;
      color: #525252;
      margin-bottom: .5rem;

      &__profession {
        
        &__icon {
          width: .8rem;
          height: 1.1rem;
          fill: #484848;
          margin: 0 .5rem;
        }
      }
    }

    &__sub-title {
      font-size: 1.3rem;
      color: #525252;
      line-height: 1;
      font-style: italic;
    }

    &__date {
      font-size: 1.4rem;
      font-weight: 500;
      color: #9B9B9B;
      margin-left: auto;
    }
  }

  &__body {
    margin-bottom: 2.2rem;

    &__text {
      color: #434343;
      font-size: 1.4rem;
      margin-bottom: 2.2rem;
    }

    &__images-wrapper {

    }

    &__image {
      width: 100%;
      height: auto;
    }
  }

  &__footer {

    &__actions {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__show-comments {
        color: #9B9B9B !important;
        font-size: 1.4rem;
        font-weight: 500;
      }
    }
  }
}