.form {
    background: $white;
    width: 100%;
    z-index: 2;

	input::placeholder, textarea::placeholder, select::placeholder {
    	color: #868686 !important;
      opacity: 1;
      font-style: italic;
    }

  &--modal {
    width: calc(100% + 2rem);
    margin: -1rem;
    background: transparent;

    .form__title {
      padding-left: 1rem;
    }

    .form__group, .form__group--full-width {
      padding: .4rem 1rem;
    }
  }

	&__container {
		display: flex;
    //margin: 1.6rem -1.6rem;
    margin: 0;
		flex-wrap: wrap;
  }

  &__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  &__title-group {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3.8rem;
    align-items: flex-start;

    &--sm {
      width: 50%;
      margin-bottom: 0;

      @include respond(phone) {
        width: 100%;
      }
    }

    &--modal {
      &:not(:last-child) {
        margin-bottom: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__title {
    width: 100%;
    font-size: 1.5rem;
    color: #6c6c6c;
    text-transform: uppercase;
    font-weight: 500;
    padding-left: 1.6rem;
    margin-bottom: 1rem;

    @include respond(small-desktop) {
      padding-left: 1rem;
    }

    @include respond(small-phone) {
      padding-left: 0;
    }

    &--modal, &--sm {
      font-size: 1.5rem;
      color: #636363;
      margin: 0;
      margin-bottom: .8rem;
      margin-top: .8rem;
      font-weight: 400;
      text-transform: none;
      padding-left: 0 !important;
      display: flex;
      align-items: center;
      font-style: normal;
      width: 100%;

      @include respond(small-desktop) {
        font-size: 1.3rem;
        margin-bottom: .4rem;
        margin-top: .4rem;
      }
    }

    span {
      color: $red;
    }

    &__contact-modal-id {
      font-weight: 400;
      color: #888 !important;
    }
  }

	&__group {
    width: 50%;
    padding: 1.6rem;
    position: relative;

    @include respond(small-desktop) {
      padding: 1rem;
    }

    @include respond(tab-land) {
      width: 100%;
    }

    @include respond(small-phone) {
      padding: 1rem 0;
    }

    &--full-width {
      width: 100% !important;
      padding: 1.6rem;
      position: relative;

      @include respond(small-desktop) {
        padding: 1rem;
      }

      @include respond(small-phone) {
        padding: 1rem 0;
      }
    }

    &--auto {
      width: auto !important;
    }

    &--5 {
      width: 5% !important;
    }

    &--15 {
      width: 15% !important;
    }

    &--20 {
      width: 20% !important;
    }

    &--25 {
      width: 25% !important;
    }		

    &--30 {
      width: 30% !important;
    }		

    &--33 {
      width: 33.3333332% !important;
    }		

    &--35 {
      width: 35% !important;
    }

    &--40 {
      width: 40% !important;
    }

    &--45 {
      width: 45% !important;
    }

    &--50 {
      width: 50% !important;
    }

    &--55 {
      width: 55% !important;
    }

    &--65 {
      width: 65% !important;
    }

    &--70 {
      width: 70% !important;
    }

    &--75 {
      width: 75% !important;
    }

    &--85 {
      width: 85% !important;
    }

    &--95 {
      width: 95% !important;
    }

    &--100 {
      width: 100% !important;
    }

    &--no-padding {
      padding: 0 !important;
    } 

    @include respond(small-desktop) {

      &--sm-desktop-5 {
        width: 5% !important;
      }

      &--sm-desktop-15 {
        width: 15% !important;
      }

      &--sm-desktop-20 {
        width: 20% !important;
      }

      &--sm-desktop-25 {
        width: 25% !important;
      }		

      &--sm-desktop-30 {
        width: 30% !important;
      }		

      &--sm-desktop-33 {
        width: 33.3333332% !important;
      }		

      &--sm-desktop-35 {
        width: 35% !important;
      }

      &--sm-desktop-40 {
        width: 40% !important;
      }

      &--sm-desktop-45 {
        width: 45% !important;
      }

      &--sm-desktop-50 {
        width: 50% !important;
      }

      &--sm-desktop-55 {
        width: 55% !important;
      }

      &--sm-desktop-65 {
        width: 65% !important;
      }

      &--sm-desktop-70 {
        width: 70% !important;
      }

      &--sm-desktop-75 {
        width: 75% !important;
      }

      &--sm-desktop-85 {
        width: 85% !important;
      }

      &--sm-desktop-95 {
        width: 95% !important;
      }

      &--sm-desktop-100 {
        width: 100% !important;
      }
    }


    @include respond(tab-land) {

      &--tab-land-5 {
        width: 5% !important;
      }

      &--tab-land-15 {
        width: 15% !important;
      }

      &--tab-land-20 {
        width: 20% !important;
      }

      &--tab-land-25 {
        width: 25% !important;
      }		

      &--tab-land-30 {
        width: 30% !important;
      }		

      &--tab-land-33 {
        width: 33.3333332% !important;
      }		

      &--tab-land-35 {
        width: 35% !important;
      }

      &--tab-land-40 {
        width: 40% !important;
      }

      &--tab-land-45 {
        width: 45% !important;
      }

      &--tab-land-50 {
        width: 50% !important;
      }

      &--tab-land-55 {
        width: 55% !important;
      }

      &--tab-land-65 {
        width: 65% !important;
      }

      &--tab-land-70 {
        width: 70% !important;
      }

      &--tab-land-75 {
        width: 75% !important;
      }

      &--tab-land-85 {
        width: 85% !important;
      }

      &--tab-land-95 {
        width: 95% !important;
      }

      &--tab-land-100 {
        width: 100% !important;
      }
    }

    @include respond(tab-port) {

      &--tab-port-5 {
        width: 5% !important;
      }

      &--tab-port-15 {
        width: 15% !important;
      }

      &--tab-port-20 {
        width: 20% !important;
      }

      &--tab-port-25 {
        width: 25% !important;
      }		

      &--tab-port-30 {
        width: 30% !important;
      }		

      &--tab-port-33 {
        width: 33.3333332% !important;
      }		

      &--tab-port-35 {
        width: 35% !important;
      }

      &--tab-port-40 {
        width: 40% !important;
      }

      &--tab-port-45 {
        width: 45% !important;
      }

      &--tab-port-50 {
        width: 50% !important;
      }

      &--tab-port-55 {
        width: 55% !important;
      }

      &--tab-port-65 {
        width: 65% !important;
      }

      &--tab-port-70 {
        width: 70% !important;
      }

      &--tab-port-75 {
        width: 75% !important;
      }

      &--tab-port-85 {
        width: 85% !important;
      }

      &--tab-port-95 {
        width: 95% !important;
      }

      &--tab-port-100 {
        width: 100% !important;
      }
    }

    @include respond(small-tab-port) {

      &--sm-tab-port-5 {
        width: 5% !important;
      }

      &--sm-tab-port-15 {
        width: 15% !important;
      }

      &--sm-tab-port-20 {
        width: 20% !important;
      }

      &--sm-tab-port-25 {
        width: 25% !important;
      }		

      &--sm-tab-port-30 {
        width: 30% !important;
      }		

      &--sm-tab-port-33 {
        width: 33.3333332% !important;
      }		

      &--sm-tab-port-35 {
        width: 35% !important;
      }

      &--sm-tab-port-40 {
        width: 40% !important;
      }

      &--sm-tab-port-45 {
        width: 45% !important;
      }

      &--sm-tab-port-50 {
        width: 50% !important;
      }

      &--sm-tab-port-55 {
        width: 55% !important;
      }

      &--sm-tab-port-65 {
        width: 65% !important;
      }

      &--sm-tab-port-70 {
        width: 70% !important;
      }

      &--sm-tab-port-75 {
        width: 75% !important;
      }

      &--sm-tab-port-85 {
        width: 85% !important;
      }

      &--sm-tab-port-95 {
        width: 95% !important;
      }

      &--sm-tab-port-100 {
        width: 100% !important;
      }
    }

    @include respond(phone) {

      &--phone-5 {
        width: 5% !important;
      }

      &--phone-15 {
        width: 15% !important;
      }

      &--phone-20 {
        width: 20% !important;
      }

      &--phone-25 {
        width: 25% !important;
      }		

      &--phone-30 {
        width: 30% !important;
      }		

      &--phone-33 {
        width: 33.3333332% !important;
      }		

      &--phone-35 {
        width: 35% !important;
      }

      &--phone-40 {
        width: 40% !important;
      }

      &--phone-45 {
        width: 45% !important;
      }

      &--phone-50 {
        width: 50% !important;
      }

      &--phone-55 {
        width: 55% !important;
      }

      &--phone-65 {
        width: 65% !important;
      }

      &--phone-70 {
        width: 70% !important;
      }

      &--phone-75 {
        width: 75% !important;
      }

      &--phone-85 {
        width: 85% !important;
      }

      &--phone-95 {
        width: 95% !important;
      }

      &--phone-100 {
        width: 100% !important;
      }
    }

    @include respond(small-phone) {

      &--sm-phone-5 {
        width: 5% !important;
      }

      &--sm-phone-15 {
        width: 15% !important;
      }

      &--sm-phone-20 {
        width: 20% !important;
      }

      &--sm-phone-25 {
        width: 25% !important;
      }		

      &--sm-phone-30 {
        width: 30% !important;
      }		

      &--sm-phone-33 {
        width: 33.3333332% !important;
      }		

      &--sm-phone-35 {
        width: 35% !important;
      }

      &--sm-phone-40 {
        width: 40% !important;
      }

      &--sm-phone-45 {
        width: 45% !important;
      }

      &--sm-phone-50 {
        width: 50% !important;
      }

      &--sm-phone-55 {
        width: 55% !important;
      }

      &--sm-phone-65 {
        width: 65% !important;
      }

      &--sm-phone-70 {
        width: 70% !important;
      }

      &--sm-phone-75 {
        width: 75% !important;
      }

      &--sm-phone-85 {
        width: 85% !important;
      }

      &--sm-phone-95 {
        width: 95% !important;
      }

      &--sm-phone-100 {
        width: 100% !important;
      }
    }      
  }
  
  &__group, &__group--full-width {
    .btn-primary, .btn-secondary {
      width: 100%;
    }
  }

  &__input {
    font-size: 1.4rem;
    color: #868686;
    padding: 6px 2rem 3px;
    background-color: #f4f4f4;
    outline: 1px solid #D8D8D8;
    border: none;
    border-bottom: 3px solid transparent;
    width: 100%;
    display: block;
    transition: all .3s;	    
    line-height: 1.3;
    min-height: 3.7rem;
    background-clip: border-box;
    outline-offset: 0 !important;

    &:focus {
      outline: 1px solid #D8D8D8;
      box-shadow: 0 1rem 2rem rgba($black, .1);
      border-bottom: 3px solid $bxp-blue;
      outline-offset: 0;
      background: $white;
    }

    &:focus:invalid {
      border-bottom: 3px solid $red;
    }

    &::-webkit-input-placeholder {
      color: #868686;
    }

    &.time-picker {
      padding: 0 !important;
    }

    &.no-border {
      border-bottom: 0;
      padding: 6px 2rem;
      
      &:focus {
        border-bottom: 0;
      }
    }
  }
    
  &__input:placeholder-shown + &__label{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__tel:not(:focus-within) + &__label--tel {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__label {
    font-size: 1.1rem;
    color: #969696;
    font-weight: 500;
    margin-left: 2rem;
    margin-top: .2rem;
    display: block;
    transition: all .3s;
    position: absolute;

    &--tel {
      margin-left: 1rem;
    }
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f4f4f4 url(/images/SVG/select.svg) no-repeat 95% 50%;
    background-size: .7rem;
    cursor: pointer;
  }

  textarea {
    width: 100%;
      resize: none;
  }

  &__checkbox-group {
      width: 100%;
      display: inline-block;
  }

  &__checkbox-input {
      display: none;
  }
  
  &__checkbox-label {
    font-size: $default-font-size;
    color: #868686;
    font-style: italic;
    cursor: pointer;
    position: relative;
    padding-left: 3.1rem;

    &.as-form-title {
      cursor: pointer;
      position: relative;
      font-size: 1.5rem;
      color: #636363;
      margin: .4rem 0;
      font-weight: 400;
      text-transform: none;
      padding-left: 2.4rem;
      display: inline-flex;
      align-items: center;
      font-style: normal;

      @include respond(small-phone) {
        font-size: 1.3rem;
      }
    }

    &.confirmation-modal {
      font-size: 1.6rem;
      color: #535353;
      font-style: normal;
      line-height: 1.4;
      margin-bottom: 3rem;
    }
  }

  &__checkbox-button {
    height: 1.4rem;
    width: 1.4rem;
    border: 1px solid #CBCBCB;
    border-radius: 2px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    &::after {
      content: "";
      display: block;
      height: 1rem;
      width: 1rem;
      border-radius: 2px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $white;
      mask: url(/images/SVG/check.svg) no-repeat 50% 50%;
      mask-size: contain;
      opacity: 0;
      transition: opacity .1s;
    }

    &.dark {
      border-color: #a7a7a7;
    }

    &.multiselect-table {
      border-radius: 50%;
      width: 1.8rem;
      height: 1.8rem;
    }

    &.confirmation-modal {
      top: .7rem;
      transform: none;
    }
  }

  &__checkbox-input:checked ~ &__checkbox-label &__checkbox-button::after {
    opacity: 1;
  }

  &__checkbox-input:checked ~ &__checkbox-label &__checkbox-button {
    background: $bxp-blue;
    border-color: $bxp-blue;
  }

  &__checkbox-input[disabled] ~ &__checkbox-label {
    cursor: not-allowed;
  }

  &__radio-group {
    width: auto;
    display: inline-block;
    line-height: 3.7rem;
    margin-right: 2rem;
  }

  &__radio-input {
    display: none;
  }

  &__radio-label {
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;
    padding-left: 2.4rem;
    margin-bottom: 0;
  }

  &__radio-button {
    height: 1.6rem;
    width: 1.6rem;
    border: 1px solid #707070;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    &::after {
      content: "";
      display: block;
      height: .9rem;
      width: .9rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $bxp-blue;
      opacity: 0;
      transition: opacity .1s;
    }
  }

  &__radio-input:checked ~ &__radio-label &__radio-button::after {
    opacity: 1;
  }

  &__tabs {
    .nav-item {
      width: 50%;
    }

    &__link, .nav-link {
      color: #848484;
      font-size: 1.3rem;
      font-weight: 500;
      background-color: #EDEDED;
      outline: 1px solid #BABABA;
      border: none;
      width: 100%;
      transition: all .3s;	    
      line-height: 1.3;
      min-height: 3.7rem;
      display: flex;
      justify-content: center;
      align-items: center;

      &__icon {
        height: 1.6rem;
        width: 1.6rem;
        fill: #848484;
        margin-right: .7rem;
      }
    }

    &__link.active {
      background: $white;
    }
    
  }

  &__single-upload-input {
    font-size: 1.6rem;
    color: #868686;
    padding: 8px 2rem 5px;
    background-color: #f4f4f4 !important;
    outline: 1px solid #D8D8D8;
    border: none;
    width: 100%;
    display: block;
    transition: all .3s;	    
    line-height: 1.3;
    min-height: 3.7rem;
  }

  // phone-input
  &__tel {
    font-size: 1.6rem;
    color: #868686;
    padding: 0;
    background-color: #f4f4f4;
    outline: 1px solid #D8D8D8 !important; 
    border: none !important;
    width: 100%;
    -webkit-transition: all .3s;
    transition: all .3s;
    line-height: 1.3;
    min-height: 3.7rem;

    input {
      padding-left: 2rem !important;
      padding: 8px 2rem 5px;
      min-height: 3.7rem;
      background-color: #f4f4f4;
      border: none !important;
      border-radius: 0 !important;

      &:focus {
        outline: 1px solid #D8D8D8;
        box-shadow: 0 1rem 2rem rgba($black, .1);
        outline-offset: 0;
        background: $white;
      }
  
      &:focus:invalid {
        border-bottom: 3px solid $red;
      }
  
      &::-webkit-input-placeholder {
        color: #868686;
      }
    }

    .dropdown {
      background: #f3f3f3;
    }

    &:focus-within {
      box-shadow: none !important;
    }
  }

  // Datepicker
  &__datepicker {
    font-size: 1.4rem;
    color: #868686;
    padding: 0;
    background-color: #f4f4f4;
    outline: 1px solid #D8D8D8 !important; 
    border: none !important;
    width: 100%;
    -webkit-transition: all .3s;
    transition: all .3s;
    line-height: 1.3;
    min-height: 3.7rem;
    cursor: pointer;

    input {
      padding-left: 2rem !important;
      padding: 8px 2rem 5px;
      min-height: 3.7rem;
      background-color: #f4f4f4;
      border: none !important;
      border-radius: 0 !important;
      width: 100%;
      cursor: pointer;
      color: #868686;

      &:focus {
        outline: 1px solid #D8D8D8;
        box-shadow: 0 1rem 2rem rgba($black, .1);
        outline-offset: 0;
      }
  
      &::-webkit-input-placeholder {
        color: #868686;
      }
    }

    .dropdown {
      background: #f3f3f3;
    }

    &:focus-within {
      box-shadow: none !important;
    }
  }

  .vdp-datepicker {
    &__calendar {
      width: 100%
    }

    &__calendar .cell.selected {
      background: $bxp-blue;
      color: $white;
    }

    &__calendar .cell:not(.blank):not(.disabled).day:hover, 
    &__calendar .cell:not(.blank):not(.disabled).month:hover, 
    &__calendar .cell:not(.blank):not(.disabled).year:hover {
      border: 1px solid $bxp-blue;
    }

    &__calendar .cell.selected:hover {
      background: $bxp-blue;
      color: $white;
    }

    &__clear-button {
      cursor: pointer;
      font-style: normal;
      position: absolute;
      right: 0;
      top: 0;
      height: 3.7rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2.4rem;
      width: 3rem;

      &:hover {
        background: $red;
        color: $white !important;
      }

      & * {
        font-style: normal;
        font-size: 2.4rem;
      }
    }

    &__edit-button {
      cursor: pointer;
      font-style: normal;
      position: absolute;
      right: 3rem;
      top: 0;
      height: 3.7rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.4rem;
      width: 3rem;

      &:hover {
        background: $bxp-blue;
        color: $white !important;
      }
    }
  }

  &__search-box {
    display: flex;
    position: relative;

    &__button {
      border: none;
      padding: 0;
      background-color: transparent;
      position: absolute;
      left: 2.4rem;
      top: 50%;
      transform: translateY(-50%);

      &:focus {
        outline: none;
      }
    }

    &__icon {
      height: 2rem;
      width: 2rem;
      fill: #ccc;
    }
  }

  &__search {
    padding: 8px 2rem 5px 4rem;
  }

  &__currency {
    display:flex;

    .form__input {
      text-align: right;
    }

    &__symbol {
      min-width: 4rem;
      width: 4rem;
      height: 3.7rem;
      background: #6C6C6C;
      font-size: 1.9rem;
      font-weight: 400;
      color: #fff;
      outline: 1px solid #6c6c6c;
      border: none;
      transition: all .3s;
      min-height: 3.7rem;
      background-clip: border-box;
      outline-offset: 0 !important;
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: center;
    }
  }

  &__phone {
    display:flex;

    &__symbol {
      min-width: 4rem;
      width: 4rem;
      height: 3.7rem;
      background: #6C6C6C;
      font-size: 1.3rem;
      font-weight: 400;
      color: #fff;
      outline: 1px solid #6c6c6c;
      border: none;
      transition: all .3s;
      min-height: 3.7rem;
      background-clip: border-box;
      outline-offset: 0 !important;
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: center;
    }
  }

  &__hr {
    width: 100%;
    border-top: 1px solid #D0D0D0;
    margin: 4rem 1.6rem 2rem;
  }

  &__search-contact {
    outline: none;
    border-bottom: 0;
    padding: 4px 2rem;
    min-height: 3.7rem;
    margin: 1.5rem 1rem;
    width: calc(100% - 2rem);
    padding-left: 4.9rem;

    &:focus {
      outline: none;
      box-shadow: none;
      border-bottom: none;
      outline-offset: 0;
    }

    &::-webkit-input-placeholder {
      color: #888888;
    }

    &.mdc {
      margin: 1.5rem 0;
      width: 35rem;
      padding-left: 4.9rem;
      border: 1px solid #e8e8e8 !important;
      border-radius: 5px;

      & ~ .contact-search-box__button {
        left: 1.4rem;
      }
    }
  }

  &__add-contact-search-fields {
    align-items: center;

    .form__input {
      border-bottom: none;
      outline: none;
      font-size: 1.4rem;

      &:focus {
        background: transparent;
        box-shadow: none;
        border-bottom: none;
      }

      &::placeholder {
        font-style: normal;
        font-size: 1.4rem;
      }
    }
  }

  /* Multiselect With Cog */
  &__list-input {
    display:flex;

    &__btn {
      cursor: pointer;
      font-style: normal;
      height: 3.7rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.3rem;
      width: 4rem;
      min-width: 4rem;
      background: #f4f4f4;
      outline: 1px solid #d8d8d8;

      &:hover {
        background: #d8d8d8;
      }
    }

    .multiselect {
      width: calc(100% - 4rem);

      &.full-width {
        width: 100%;
      }
    }
  }

  &__checkbox-custom {
    padding: .8rem 1.6rem;
    margin-top: -1.8rem;

    @include respond(small-phone) {
      padding: 1rem 1.6rem;
      padding-left: 0;
    }
  }
}

.multiselect.marked {
  & .multiselect__tags {
    border: 1px solid $bxp-blue;
  }
}

.form-control:disabled, .form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
  border-bottom: 0;
}

input.invalid {
  border-bottom: 3px solid $red !important;
}

input[type=time] {
  text-align: center;
  padding: 2px 0px 0px !important;
  position: relative;
}

/* For Chrome */
input[type=time]::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  width: 100%;
  top: 0;
  left: -12px;
  height: 100%;
}

/* Wrapper around the hour, minute, second, and am/pm fields as well as 
the up and down buttons and the 'X' button */
input[type=time]::-webkit-datetime-edit-fields-wrapper {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

/* The space between the fields - between hour and minute, the minute and 
second, second and am/pm */
input[type=time]::-webkit-datetime-edit-text {
  padding: .5rem;
}

/* The naming convention for the hour, minute, second, and am/pm field is
`-webkit-datetime-edit-{field}-field` */

/* Hour */
input[type=time]::-webkit-datetime-edit-hour-field {
  background-color: #b5b5b5;
  color: $white;
  border-radius: 2px;
  padding: .3rem .7rem;
  cursor: text;
}

/* Minute */
input[type=time]::-webkit-datetime-edit-minute-field {
  background-color: #b5b5b5;
  color: $white;
  border-radius: 2px;
  padding: .3rem .7rem;
  cursor: text;
}

/* AM/PM */
input[type=time]::-webkit-datetime-edit-ampm-field {
  display: none;
}

/* 'X' button for resetting/clearing time */
input[type=time]::-webkit-clear-button {
  display: none;
}

/* Up/Down arrows for incrementing/decrementing the value */
input[type=time]::-webkit-inner-spin-button {
  display: none;
}

.datetime-reset-button {
  display: none !important;
}

input[type="time"]::-ms-clear {
  display: none;
}

input[type=time]::-webkit-clear-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance:none;
  appearance: none;
  margin: -10px; 
}

/* Work page > Event forms at middle of the page */

.form-events {
  border-radius: 5px;
  border: 1px solid #D8D8D8;
  padding: 0 1.1rem .5rem 1.1rem;
  margin-bottom: 4.5rem;

  @include respond(phone) {
    position: fixed;
    left: 0;
    top: 50%;
    margin-bottom: 0;
    z-index: 9999;
    transform: translateY(-50%);
    margin: 1rem;
    width: calc(100% - 2rem);
  }

  &__header {
    display: none;

    @include respond(phone) {
      margin-left: -1.1rem;
      margin-right: -1.1rem;
      padding: 1.6rem 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #D8D8D8;
      background: #f4f4f4;
    }

    &__title {
      @include respond(phone) {
        margin-bottom: 0;
        color: $bxp-blue;
        font-size: 1.6rem;
      }
    }

    .btn-modal-secondary {
      @include respond(phone) {
        width: auto;
        min-width: auto;
        padding: .7rem;
      }
    }
  }

  @include respond(phone) {
    &__backdrop {
      content: " ";
      width: 100%;
      height: 100vh;
      display: block;
      z-index: 1001;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateZ(0);
      opacity: 1;
      background: rgba($black, .5);
      transition-duration: 200ms;
    }
  }

  .form__title--sm {
    margin-bottom: 1.2rem;
    margin-top: .2rem;

    @include respond(small-desktop) {
      margin-bottom: .6rem;
    }
  }

  .form__group .btn-primary, 
  .form__group .btn-secondary, 
  .form__group--full-width .btn-primary, 
  .form__group--full-width .btn-secondary {
    width: auto;

    &:not(:first-child) {
      margin-left: 1.3rem;
    }
  }

  .form__input {
    padding: 1rem 2rem 5px;
  }

  textarea::placeholder {
    font-size: 1.4rem;
    color: #868686;
    font-style: normal;
  }

  .form__group, .form__group--full-width  {
    &:not(:last-child) {
      margin-bottom: -1rem;

      @include respond(small-desktop) {
        margin-bottom: 0;
      }
    }

    &:last-child {
      margin-top: 1rem;
    }
  }

  &__email-cc-bcc {
    font-size: 1.6rem;
    color: #868686;
    padding: 8px 2rem 5px;
    background-color: #f4f4f4;
    outline: 1px solid #D8D8D8;
    border: none;
    border-bottom: 3px solid transparent;
    display: block;
    transition: all .3s;	    
    line-height: 1.3;
    min-height: 3.7rem;
    background-clip: border-box;
    outline-offset: 0 !important;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      font-size: 1.5rem;
      color: #535353;
      line-height: 1;

      &:not(:last-child) {
        border-right: 1px solid;
        padding-right: .8rem;
        margin-right: .8rem; 
      }

      &:hover {
        text-decoration: underline !important;
      }
    }
  }

  &__add-attachment {
    font-size: 1.5rem;
    color: #484848;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;

    &:hover {
      color: #484848 !important;
      text-decoration: underline !important;
    }

    &__icon {
      width: 1.7rem;
      height: 1.8rem;
      fill: #767676;
      margin-right: .8rem;
    }
  }

  &__documents-table {
    @include respond(small-desktop) {
      .file-upload__name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 7rem;
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;

    @include respond(small-desktop) {
      margin-top: 0;
      flex-wrap: wrap;
    }

    .btn {
      @include respond(small-desktop) {
        font-size: 1.6rem;
        padding: .8rem 1.8rem;
        border-radius: .5rem;
        min-width: auto;
      }
    }

    .form-events__add-attachment {

      @include respond(small-desktop) {
        margin-bottom: 1.5rem;
      }
    }

    &__button-wrapper {
      justify-content: flex-end;
      width: 100%;
      display: flex;

      @include respond(small-desktop) {
        margin-left: auto;
      }
    }
  }
}

/* Disabled form elements */
.form__input[disabled],
textarea[disabled],
.multiselect--disabled,
.multiselect--disabled .multiselect__tags,
.disabled-datepicker[disabled] .form__datepicker input,
.disabled-datepicker[disabled] .form__datepicker {
  opacity: 1;
  pointer-events: none;
  border-bottom: transparent !important;
  background: #ededed;
}

.toggle-form-container {
  display: flex;
  align-items: center;
  margin-bottom: .6rem;
  justify-content: space-between;
  font-size: 1.5rem;
  color: #636363;
}

/* Work Product Amount Input */
.product-amount-input {
  border: 1px solid transparent;
  text-align: center;
  width: 21px;
  font-size: 1.4rem;
  color: #585858;
  line-height: 1.4;
  font-weight: 500;
  outline: none;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none; 
    margin: 0; 
  }
}

/* Hidden placeholders for vue-multiselect */
html body .multiselect__input::placeholder {
  color: transparent !important;
  opacity: 0 !important;
}

html body .multiselect__input:-ms-input-placeholder {
  color: transparent !important;
  opacity: 0 !important;
}

/* If you still need ph for vue-multiselect */
html body .multiselect.need-placeholder .multiselect__input::placeholder {
  color: #868686 !important;
  opacity: 1 !important;
}

html body .multiselect.need-placeholder .multiselect__input:-ms-input-placeholder {
  color: #868686 !important;
  opacity: 1 !important;
}

html body .multiselect.need-placeholder .multiselect__placeholder {
  padding-top: 5px !important;
  display: inline-block !important;
  color: #868686 !important;
}

.multiselect--column-filter {
  width: 13.6rem;
  font-size: 1.3rem;
  font-weight: 500;

  .multiselect__tags {
    color: #767676;
    background-color: transparent;
    border: 1px solid #E8E8E8;
    display: flex;
    align-items: center;
    outline: none;
    min-height: 3.1rem;
    padding: 5px 1.2rem;
  }

  .multiselect__single {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 2rem;
  }

  .multiselect__select {
    height: 3.1rem;
  }

  &__length-span {
    color: $green;
  }

  &.network-list-ms {
    width: 15rem;
  }
}

.multiselect--records-per-page {
  width: 7rem;
  font-size: 1.3rem;
  font-weight: 500;
  margin-right: 1rem;

  .multiselect__tags {
    color: #767676;
    background-color: $white;
    border: 1px solid #E8E8E8;
    display: flex;
    align-items: center;
    outline: none;
    min-height: 3.1rem;
    padding: 5px 1.2rem;
  }

  .multiselect__single {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 2rem;
  }

  .multiselect__select {
    height: 3.1rem;
  }

  &__length-span {
    color: $green;
  }
}

.verify-multiselect {
  width: 40%;
}

.payment-checkbox {
  width: 100%;
  display: flex;
  align-items: center;
  margin-right: 1.2rem;

  &__checkbox-input {
    display: none;
  }
  
  &__checkbox-label {
    font-size: $default-font-size;
    color: #868686;
    font-style: italic;
    cursor: pointer;
    position: relative;
    margin-bottom: 0;
  }
  
  &__checkbox-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: transparent;
    width: 3rem;
    height: 3rem;
    border-radius: 5px;
    border: 2px solid $green;
    transition: all .1s;
    position: relative;
  
    &::after {
      content: "";
      display: block;
      height: 1rem;
      width: 1rem;
      border-radius: 2px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $white;
      mask: url(/images/SVG/check.svg) no-repeat 50% 50%;
      mask-size: contain;
      opacity: 0;
      transition: opacity .1s;
    }
  }
  
  &__checkbox-input:checked ~ &__checkbox-label &__checkbox-button::after {
    opacity: 1;
  }
  
  &__checkbox-input:checked ~ &__checkbox-label &__checkbox-button {
    background: $green;
    border-color: $green;
  }
  
  &__checkbox-input[disabled] ~ &__checkbox-label {
    cursor: not-allowed;
  }
}