.icon-rounded {
	width: 3.9rem;
	height: 3.9rem;
	border-radius: .7rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background: $light-gray;
  margin-right: 1.2rem;

	&__icon {
		height: 2rem;
		width: 2rem;
    fill: $gray;
	}

	&.work {
		width: 4.6rem;
    height: 4.6rem;
    border-radius: 1rem;
    
    @include respond(tab-land) {
      width: 3.6rem;
      height: 3.6rem;
    }

    @include respond(small-tab-port) {
      width: 3.2rem;
      height: 3.2rem;
    }

    @include respond(small-phone) {
      width: 3.6rem;
      height: 3.6rem;
      margin-bottom: 1rem;
    }
	}

	&.work &__icon {
		height: 2.3rem;
    width: 2.6rem;

    @include respond(tab-land) {
      height: 1.6rem;
      width: 2rem;
    }

    @include respond(small-tab-port) {
      height: 1.4rem;
    }

    @include respond(small-phone) {
      height: 1.6rem;
    }
	}

	&.work-contact {
    width: 3rem;
    height: 3rem;
    min-width: 3rem;
    min-height: 3rem;
    margin-right: 1.9rem;
	}

	&.work-contact &__icon {
		height: 1.4rem;
    width: 1.4rem;
	}
}

.icon-warning {
  width: 1.5rem;
  height: 1.3rem;
  margin-top: -3px;

	&__icon {
    fill: #F1C40F;
    width: 1.5rem;
    height: 1.3rem;
    display: flex;
    
    &.red {
      fill: $red;
    }

    &.gray {
      fill: $dark-gray;
    }
	}
}

a:hover {
  .icon-warning {
    &__icon {
      fill: #b79300;
    }
  }
}

.award-warning-wrapper {
  /*width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;*/
  border: 1px solid #eaeaea;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: $white;
  margin-left: auto;
  position: absolute;
  right: -1.7rem;
  z-index: 2;
  top: -1.2rem;
  box-shadow: 0 3px 5px rgba($black, .078)
}

.award-warning {
  /*width: 1.5rem;
  height: 1.3rem;
  margin-top: -3px;*/

	&__icon {
    /*fill: #F1C40F;
    width: 1.7rem;
    height: 1.7rem;*/
    display: flex;
    fill: $red;
    width: 1.6rem;
    height: 1.6rem;
    
    &.red {
      fill: $red;
    }

    &.gray {
      fill: $dark-gray;
    }
  }
  
  &:hover {
    .icon-warning__icon {
      fill: #b79300;
    }
  }
}

.icon-check {
  width: 1.5rem;
  height: 1.3rem;
  margin-top: -3px;

	&__icon {
    fill: $green;
    width: 1.5rem;
    height: 1.3rem;
    display: flex;
	}
}

.icon-stats-arrow {
  width: 1.6rem;
  height: 1.3rem;
  fill: #4AAE48;

  &.down {
    fill: #E74C3C;
    transform: rotate(180deg);
  }
}

.icon-external-link {
  width: 1.2rem;
  height: 1.2rem;
  margin-left: .2rem;

  &__icon {
    width: 1.2rem;
    height: 1.2rem;
    fill: $bxp-blue;
  }
}