.image-crop-container {
  background-image: url('/background.png');
  margin-bottom: 20px;
  overflow: hidden !important;
  position: relative;
}

.image-crop-shadow {
  position: absolute;
  background-color: #000;
  opacity: 0.6;
}

.image-crop-selector {
  outline: 1px solid $primary;
  position: absolute;
  top: 0px;
}

img.cropped {
  position: relative;
}