.modal-fade-in .modal-backdrop {
  z-index: -1;
}

.modal {
  .modal-content {
    border-radius: 2rem;
    max-height: 95vh;
    min-height: 35rem;
  }

  .modal-header {
    align-items: center;
    border-bottom: none;
    flex-wrap: wrap;
    padding: 0;
    background: $bxp-blue;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    height: 7rem;
    min-height: 7rem;

    &__title-bar {
      width: 100%;
      display: flex;
      margin: 1.2rem 3.4rem;
      align-items: center;
      justify-content: space-between;
    }

    &__top-bar {
      width: 100%;
      height: 5rem;
      display: flex;
      align-items: center;
      background: #F4F4F4;
      border-bottom: 1px solid #D0D0D0;

      .form--modal {
        margin: 0;
        margin-left: 1.6rem;
        margin-right: 1.6rem;
        width: 100%;
      }
    }
  }
  
  &__title {
    color: $white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin: 0;
    font-weight: 600;
    line-height: 1;

    @include respond(phone) {
      font-size: 1.6rem;
    }

    &__icon {
      width: 2.5rem;
      height: 2.5rem;
      fill: $white;
      margin-right: 1.6rem;
      filter: drop-shadow(3.4px 3.4px 0 rgba(0, 0, 0, 0.22));
    }
  }

  .modal-body {
    padding: 4rem 3.4rem;
  }

  .modal-footer {
    background: #F4F4F4;
    padding: 1rem 3.4rem;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    border-top: 1px solid #D0D0D0;
    height: 8rem;
    min-height: 8rem;
    justify-content: space-between;

    @include respond(tab-land) {
      height: auto;
      min-height: auto;
    }

    &__left {
      margin-left: 0;
    }

    &__right {
      margin-right: 0;
    }

    &__left, &__right {
      display: flex;

      @include respond(phone) {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .btn {
          width: 100%;
          margin-bottom: .75rem;

          &:last-child {
            width: 100%!important;
          }
        }
      }
    }

    &__right:last-child {
      margin-left: auto;
    }

    &__right .btn:not(:last-child) {
      margin-right: .95rem;
      @include respond(phone) {
        margin-right: 0;
      }
    }

    &__left .btn:not(:first-child) {
      margin-left: .95rem;
    }

    &__center {
      margin: auto;
    }
  }

  &__span {
    font-size: 1.3rem;
    font-weight: 400;
    color: #636363;
    line-height: 2;

    &--bold {
      font-weight: 600;
    }
  }
/* Custom Modals */

/* Add Offer Modal*/
  .modal-offer {
    @include respond(small-desktop){
      max-width:95%;
      margin:0 auto;
    }
    .modal-header {
      background: $work-offer;
    }

    &__custom-form-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &__left {
      width: 43%;
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      @include respond(phone){
        width: 100%;
      }
    }

    &__right {
      width: 48%;
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      @include respond(phone){
        width: 100%;
      }
    }

    &__extra-fields {
      font-size: 1.4rem;
      color: #5D5D5D;
      margin-top: 1rem;
    }

    &__edit-button {
      width: 1.2rem;
      height: 1.2rem;
      margin-left: 1.5rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;      

      &__icon {
        width: 1.2rem;
        height: 1.2rem;
        fill: #A2A2A2;

        &.check {
          fill: $green;
        }
      }
    }

    &__introtext {
      width: 100%;
      margin-bottom: 2rem;

      &__paragraph {
        font-size: 1.4rem;
        color: #5D5D5D;
      }

      &__text-editor {
        display: flex;
        align-items: center;
        margin-top: .7rem;
        margin-bottom: 1.5rem;
      }
    }

    & .form__group, & .form__group--full-width {
      padding: .2rem 1.6rem !important;
    }

    &__status {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      padding: 0 1.6rem;
      font-size: 1.5rem;
      color: #484848;
      align-items: center;

      &__badge {
        width: 1.9rem;
        height: 1.9rem;
        margin-left: .7rem;
        border-radius: 50%;
        background: #F4F4F4;

        &.draft {
          background: #f1c40f;
        }

        &.sent {
          background: $work-offer;
        }

        &.negotiating {
          background: $bxp-blue;
        }

        &.won {
          background: #29C484;
        }

        &.lost {
          background: $red;
        }

        &.unsaved {
          background: #f1c40f;
        }
      }
    }
    thead{
      @include respond(tab-port){
        display:none;
      }
    }
    tbody{
      @include respond(tab-port){
        display:flex;
        flex-wrap:wrap;
        justify-content: space-between;
        padding:1rem;
      }
      tr{
        @include respond(tab-port){
          display:flex;
          width: 47%;
          flex-direction: column;
          border:1px solid #dedede;
          border-radius: 1rem;
          padding:1rem;
        }
        @include respond(phone){
          width: 100%;  
        }
      }
      td{
        @include respond(tab-port){
          width: 100%;
          text-align:left;
          &::before{
            content: attr(data-label);
            font-weight:500;
            font-size:1.2rem;
          }
        }
      }
    }
  }

  /* Contact Modal*/
  .modal-contact {

    .form__input {
      &.form-input-padding {
        padding:6px 0rem 3px;

        &.phone {
          padding:6px 1rem 3px;
        }
      }
    }
    @include respond(phone){
      width: 95%;
      margin:0 auto;
    }

    .modal-header {
      background: $work-contact;
    }

    .modal-body {
      padding: 0;
      overflow: hidden !important;
    }


    &__container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      @include respond(phone){
        flex-direction: column;
      }
      @include respond(tab-port){
        flex-direction: column;
      }
    }

    &__container-half {
      width: 49%;
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;

      @include respond(tab-port) {
        width: 100%;
      }
    }

    .modal-footer {
      position: relative;
      z-index: 1;
    }

    .save-interested-checkbox {
      border: 1px solid #d8d8d8;
      padding: .2rem 1rem;
      background: $green;
      border-radius: 5px;
      margin-right: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
    
      @include respond(phone){
        width: 100%;
        margin-right:0rem;
        margin-bottom:.6rem;
      }

      .form__checkbox-label.as-form-title {
        color: $white;
      }

      .form__checkbox-button {
        border-color: $white;
      }

      .form__checkbox-input:checked 
      ~ .form__checkbox-label .form__checkbox-button {
        background: $green;
        border-color: $green;
      }
    }

    .contact-save-checkbox {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 2rem;
      padding: .2rem 1rem;
      background: transparent;
      border: none;

      @include respond(phone){
        width: 100%;
        margin-right:0rem;
        margin-bottom:.6rem;
      }

      .form__checkbox-label.as-form-title {
        color: #9E9E9E;
      }

      .form__checkbox-button {
        border-color: #9e9e9e;
      }

    }

    &__table {

      &__no-entry {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 3rem 0rem;

        &__image {
          margin-bottom: 2rem;
        }

        &__title {
          font-size: 2rem;
          color: #707070;
        }

        &__sub-title {
          font-size: 1.2rem;
          color: #959595;
          margin-bottom: 3rem;
        }

        &__btn {
          color: #fff;
          line-height: 1;
          background: #408fc7;
          padding: 8px 3rem;
          white-space: nowrap;
          font-size: 1.4rem;
          border-radius: 1.3rem;
        }

        &.activities {
          align-items: flex-start;
          justify-content: flex-start;
          font-size: 1.4rem;
          padding: 0rem !important;
        }
      }

    }
  }

  /* Contact Change List Modal*/
  .modal-contact-change-list {

    .modal-header {
      background: $work-contact;
    }

    .modal-body {
      padding: 3.4rem;
    }

    .modal-footer {
      position: relative;
      z-index: 1;
    }

    &__warning {
      background: #f7f7f7;
      padding: 1rem;
      margin-bottom: 3rem;
      border: 2px solid #f4f4f4;

      p {
        margin-bottom: 0;
        font-size: 1.4rem;
      }
    }

    &__contact-name {
      font-size: 1.8rem;
      line-height: 1.5;
      background: $work-contact;
      color: white;
      border-radius: 0px;
      padding: .8rem 1.3rem;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      margin-bottom: 0px;
    }

    .table-suggestions {
      border: 1px solid #f4f4f4;
    }

    .text-danger {
      color: $red !important;
    }

    .text-success {
      color: $green !important;
    }
  }

  /* Partner-Account Modal*/
  .modal-partner-account {

    .modal-header {
      background: $work-contact;
    }
  }

  /* Join Team Modal*/
  .modal-join-team {
    min-height: 95vh;
    .modal-header {
      background: $work-contact;
    }

    .modal-body {
      padding: 2rem 3.4rem;
    }

    &__dialog {
      max-width: 900px;

      @include respond(tab-land) {
        max-width: 75% !important;
        margin:0 auto;
      }
  
      @include respond(phone){
        max-width: 95% !important;
      }
    }
    
    &__team-tag {
      background: $white;
      color: #408fc7;
      padding: 0 .5rem;
      margin-left: .8rem;
      border-radius: 1px;
      font-size: 1.9rem;
    }

    &__general {
      padding: 2rem;
      background: #f7f7f7;
      border-radius: 5px;
      font-size: 1.4rem;
    }

    &__addresses {
      width: 100%;

      &__address-container {
        width: calc(100% + 1rem);
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1rem;
        @include respond(small-tab-port){
          flex-direction: column;
          widows: 100%;
        }
        @include respond(phone){
          flex-direction: column;
          widows: 100%;
        }
      }

      &__address-wrapper {
        padding: 2rem;
        border: 1px solid #f7f7f7;
        font-size: 1.4rem;
        display: flex;
        width: calc(50% - 1rem);
        margin-bottom: 1rem;
        @include respond(small-tab-port){
          width:calc(100% - 1rem);
        }
        @include respond(phone){
          width:calc(100% - 1rem);
        }

        &:not(:last-child) {
          margin-right: 1rem;
        }
      }

      &__left {
        width: 55%;
      }

      &__right {
        width: 45%;

        &__toggle-wrapper {
          display: flex;
          align-items: center;
          margin-bottom: 1.5rem;
          justify-content: flex-end;
        }

        &__multiselect-wrapper {

        }
      }
    }

    &__working-area-title {
      width: 100%;
      font-size: 1.8rem;
      color: #5D5D5D;
      margin-bottom: 1rem;
    }

    &__contract {
      font-size: 1.5rem;
      margin-bottom: 2rem;
      width: 100%;
      line-height: 3rem;
      display: inline-block;
      vertical-align: middle;

      a {
        text-decoration: underline !important;
        color: #408FC7;
        font-weight: 500;
      }
    }

  }

  /* Contact / Ansprechpartner Modal */
  .modal-ansprechpartner {
    min-height: 95vh;

    .modal-header {
      background: $work-contact;
    }

    .modal-body {
      padding: 3.4rem;
    }

    .modal-footer {
      position: relative;
      z-index: 1;
      @include respond(phone){
        padding-bottom:7rem;
      }
    }
  }

  /* Contact / Anschriften Modal */
  .modal-anschriften {
    min-height: 95vh;

    .modal-header {
      background: $work-contact;
    }

    .modal-body {
      padding: 3.4rem;
    }

    .modal-footer {
      position: relative;
      z-index: 1;
    }
  }

  /* Partner Selection Modal */
  .modal-partner-selection {
    min-height: 95vh;
    max-width: 1200px;
    min-width: 1200px;

    @include respond(tab-land){
      max-width: 95%;
      min-width:95%;
    }
    

    .modal-header {
      background: $green;
    }

    .modal-body {
      padding: 3.4rem;
      overflow: hidden !important;
      @include respond(tab-land){
        overflow-y:auto!important;
      }
      @include respond(tab-port){
        overflow-y:auto!important;
      }
    }

    &__container {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    &__container-half {
      width: 48%;
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
    }

    .modal-footer {
      position: relative;
      z-index: 1;
    }
  }

  /* Contact Selection Modal */
  .modal-contact-selection {
    min-height: 95vh;
    max-width: 1100px;
    min-width: 1100px;
    margin: 0 auto;

    @include respond(phone) {
      max-width: 95%;
      min-width:95%;
    }
    @include respond(tab-land) {
      max-width: 95%;
      min-width:95%;
    }
    

    .modal-header {
      background: $work-contact;
    }

    .modal-body {
      padding: 3.4rem;
      overflow-y: auto;

      @include respond(tab-land) {
        overflow-y:auto!important;
      }

      @include respond(tab-port) {
        overflow-y:auto!important;
      }
    }

    &__container {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    &__container-half {
      width: 48%;
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
    }

    .modal-footer {
      position: relative;
      z-index: 1;
    }
  }

  /* Task Modal*/
  .modal-task {
    .modal-header {
      background: $work-task;
    }
  }

  /* Resubmission Modal*/
  .modal-resubmission {
    .modal-header {
      background: $resubmission;
    }
  }

  /* Appointment Modal*/
  .modal-appointment {
    .modal-header {
      background: $work-app;
    }
    .modal-body{
      overflow-y: auto;
    }
  }

  /* Document Modal*/
  .modal-document {
    .modal-header {
      background: $work-doc;
    }

    .modal-body{
      overflow: auto;
    }

    .file-upload__name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 18rem;
    }
  }

  /* Common Bill Modal*/
  .modal-common-bill {

    &__new {
      order: -1;
      margin-bottom: 2rem;

      .accordion {

        &__header {
          background: $green;

          &__title {

            &__name {
              color: $white;
            }

            &__icon {
              fill: $white;
            }
          }

          &__arrow-icon {
            fill: $white;
          }
        }
      }
    }

    .modal-header {
      background: $work-doc;
    }

    &__content {
      width: 100%;
      display: flex;
    }

    &__left {
      flex-grow: 1;

      .accordion {
        width: 100%;
        display: flex;
        flex-direction: column;
      }
    }

    &__right {
      width: 38rem;
      margin-left: 5rem;
    }

    &__add-new {
      padding: 3.3rem 2.7rem;
      border: 1px solid #EBEBEB;
    }

    &__no-expense-warning {
      width: 100%;
      font-size: 1.4rem;
      font-style: italic;
      color: #868686;
      display: flex;
      justify-content: center;
      padding: 4rem 0;
    }

    &__bill-buttons {
      display: flex;
      justify-content: space-between;
      padding: 0 1.6rem;
      width: 100%;
  
      &__right .btn:not(:last-child) {
        margin-right: .95rem;
      }
  
      &__left .btn:not(:first-child) {
        margin-left: .95rem;
      }
  
      &__center {
        margin: auto;
      }
    }

    .btn-add-new-alternate {
      margin-top: 3rem;
      margin-bottom: 1rem;
    }

    &__completed-provisions {
      margin-top: 6.5rem;
      width: 100%;

      &__title {
        color: #848484;
        font-weight: 600;
        font-size: 1.5rem;
        margin-bottom: 1.7rem;
      }
    }
  }

  /* Reclamation Modal*/
  .modal-reclamation {
    .modal-header {
      background: $red;
    }

    &__reclamation-type {
      background: #fff1ef;
      font-size: 1.3rem;
      padding: 1rem;
      width: 100%;
      border-radius: .5rem;
      font-weight: 500;
      color: #e74c3c;
      display: block;
    }

    &__text-input-container {
      margin-bottom: 3rem;
      margin-top: 2rem;
    }

    &__text-input {
      border-radius: 1rem;
      border-color: #d5d5d5;
      font-size: 1.3rem;
      padding: 1.5rem;
    }

    &__text-input-buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: .5rem;
    }

    &__messages-wrapper {
      margin-top: 2rem;
    }

    &__message {
      display: flex;
      margin-bottom: 2rem;
    }

    &__avatar-wrapper {
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 2rem;
    }

    &__avatar {
      width: 3.5rem;
      height: 3.5rem;
    }

    &__content {
      width: calc(100% - 5.5rem);
      display: flex;
      flex-direction: column;

      &__date {
        font-size: 1.2rem;
        color: #9f9f9f;
        font-weight: 400;
        line-height: 1;
        margin-bottom: 5px;
      }

      &__sender {
        font-size: 1.4rem;
        color: #424242;
        font-weight: 400;
        margin-bottom: 1rem;
      }

      &__text {
        background: #f8f8f8;
        padding: 1.5rem;
        border-radius: 1rem;
        border: 1px solid #f1f1f1;
        color: #494949;
        font-size: 1.4rem;

        &__attached-images {
          display: block;
          width: 100%;
          margin: 0 auto;
          padding: 2rem;

          img {
            max-width: 100%;
            height: auto;
          }
        }
      }
    }
  }

  /* Violation Modal*/
  .modal-violation {
    .modal-header {
      background: $red;
    }
  }

  /* Commision Statement Modal*/
  .modal-commission-statement {
    min-height: 95vh;

    .modal-header {
      background: $green;
    }

    &__container {
      display: flex;
      width: 100%;
      padding: 1.6rem;
      justify-content: space-between;

      &__left {
        width: 62%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;
      }

      &__right {
        width: 30%;
        flex: 0;
      }
    }

    &__left {
      width: 50%;
      @include respond(small-phone){
        width: 100%;
      }
    }

    &__bill-box {
      width: 100%;
      padding: 1.8rem 2.7rem;
      border: 1px solid #E9E9E9;
      margin-bottom: 3rem;

      &__list-buttons {
        .btn-work-action.small:not(:last-child) {
          margin-right: .5rem;
        }

        .btn-work-action__icon {
          &.warning {
            fill: $red;
          }

          &.approve {
            fill: $green;
          }
        }
      }
      .side-box {
        width: 100%;
        
        &__work-item {
          flex-wrap: wrap;

          &__name-wrapper {
            width: calc(100% - 2.5rem);
          }

          .side-box__work-list {
            margin-left: 1rem;
            position: relative;
            
            &.sub:before {
              content: "";
              background: #f4f4f4;
              width: 7px;
              height: 1px;
              position: absolute;
              top: 11px;
              left: -7px;           
            }
          }

          &.has-sub {
            position: relative;

            &:before {
              content: "";
              position: absolute;
              width: 1px;
              height: 4.9rem;
              display: block;
              background: #f4f4f4;
              top: 1.7rem;
              left: 6px;
            }
          }
        }
      }  
    }

    &__bill-box-container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }

    .side-box__title {
      border-bottom: 1px solid #E9E9E9;
      padding-bottom: 1.5rem;
      margin-bottom: 1rem;
      display: flex;
      align-items: center;

      .accordion__header__status {
        margin-right: 1rem;
        position: relative;

        &__icon {
          fill: #8e8e8e;
        }
      }

      &__icon {
        position: absolute;
        top: -2px;
        right: -2px;
        display: flex;
        width: 1.3rem;
        height: 1.3rem;
        background: #e9e9e9;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        
        .accordion__header__status__icon {
          width: .7rem;
          height: .7rem;
          fill: $green;

          &.minus {
            fill: $red;
          }
        }
      }
    }

    .side-box__work-list {
      margin: 1.5rem 0;
      width: 100%;

      hr {
        margin: 1rem 0rem;
      }

      &.scroll {
        max-height: 24rem;
        overflow-y: auto;
        padding-right: 1rem;
        margin-right: -1rem;
      }
    }

   

    .side-box__work-item__name{
      display: flex;
      justify-content: space-between;
      padding-right: 0;
      
      &.disabled {
        color:#d6d6d6;
        text-decoration: line-through;
      }
    }

    &__summary-box {
      width: 100%;
      padding: 1.8rem 2.7rem;
      border: 1px solid #E9E9E9;
      border-radius: 5px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;

      &__group {
        width: 100%;
        margin-bottom: 1.5rem;
      }

      &__group-title {
        color: #7b7b7b;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2;
        margin-bottom: -1rem;
      }

      .side-box__title {
        width: 100%;
        margin-bottom: 2rem;
        @include respond(small-tab-port){
          text-align:right;
          display:block;
        }
      }
    }

    .side-box__work-item__icon-box.commission-image {
      width: 4rem;
      height: 3rem;
      overflow: hidden;
      border: 1px solid #C9C9C9;
      justify-content: center;
      align-items: center;
      align-content: center;
    }

    .table-offer-summary {
      width: 100%;
      min-width: auto;
      margin-bottom: 0;

      td, th {
        font-size: 1.4rem;
        padding: .3rem 0;
      }
    }

    &__hr {
      width: 100%;
      margin-bottom: .3rem;
      margin-top: auto;
      border-top: 1px solid #E9E9E9;
    }

    .work__contact-details {
      margin-bottom: 0;
      width: 62%;
      justify-content: flex-end;
    }

    .icon-rounded__icon {
      fill: $green;
    }

    .work__contact-field {
      width: 33%;

      &__title {
        color: $white;
      }

      &__sub-title {
        color: #f4f4f4;
      }
    }

    &__actions {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      margin-top: 3rem;

      .btn {
        width: auto !important;

        &:not(:last-child) {
          margin-right: .95rem;
        }
      }
    }

    &__approve-status {
      color: $white !important;
      line-height: 1;
      white-space: nowrap;
      overflow: hidden;
      max-width: 100%;
      text-overflow: ellipsis;
      font-size: 1rem;
      min-width: auto;
      cursor: pointer;
      border-radius: 3rem;
      background: #AAAAAA;
      display: inline-flex;
      align-items: center;
      padding: 3px 1rem;
      margin-left: 1rem;
      justify-content: center;
  
      &.not-approved {
        background: $orange;
      }
  
      &.approved {
        background: $green;
      }
  
      &__icon {
        fill: $white;
        width: .8rem;
        height: 1rem;
        margin-right: .3rem;
      }
    }
  }

  /* Collaborator Modal*/
  .modal-collaborator {
    .modal-header {
      background: $work-collaborator;
    }
  }

  /* Tracking Link Modal*/
  .modal-tracking-link {
    .modal-header {
      background: $work-tracking-link;
    }
  }

  /* Services Modal */
  .modal-service {
    .modal-header {
      background: $green;
    }
  }

  /* Products Modal */
  .modal-products {
    .modal-header {
      background: $green;
    }
  }

  /* Property Modal */
  .modal-property {
    .modal-header {
      background: $green;
    }
  }

  /* Add Deal Modal*/
  .modal-add-deal {
    .modal-header {
      background: $green;
    }

    .btn {
      @include respond(tab-port){
        font-size:1.4rem;
      }
    }
  }

  /* Base Data -> New Product Modal */
  .modal-new-product {
    min-height: 87vh;
    .btn-add-new {
      margin-left:2rem;
      @include respond(phone){
        margin-left:4.4rem;
      }
      @include respond(tab-port){
        margin-left:5rem;
      }
    }
    .modal__title{
      @include respond(tab-port){
        display:flex;
        flex-wrap: wrap;
      }
    }
    .modal-header{
      @include respond(tab-port){
        height:12rem;
      }
    }
  }

  /* Base Data -> Select Product */
  .modal-select-product {
    .modal-header {
      height: 13.9rem;
    }
  }

  /* Add Project Modal*/
  .modal-new-project {
    .modal-header {
      background: $green;
    }
  }

  /* Add Detection Modal*/
  .modal-new-detection {
    .modal-header {
      background: $green;
    }
  }

  /* Add Local Inspection Modal*/
  .modal-new-local-inspection {
    .modal-header {
      background: $green;
    }

    &__participant-list {
      list-style: none;
      padding-left: 1.6rem;
    }

    &__participant-item {
      font-size: 1.5rem;
      display: flex;
      align-items: center;

      &__icon {
        fill: #b5b5b5;
        width: 1.2rem;
        height: 1.2rem;
        margin-right: .5rem;
      }

      &__name {
        display: flex;
        align-items: center;

        &__link {
          background: $red;
          padding: 3px 6px;
          color: $white !important;
          font-size: 1.1rem;
          border-radius: 1.2rem;
          line-height: 1;
          margin-left: 1rem;
          display: flex;
          align-items: center;
        }

        &__icon {
          fill: $white;
          width: .7rem;
          height: 1rem;
          margin-right: .5rem;
        }
      }
    }

    &__participants-form {
      display: flex;
       @include respond(phone){
        flex-wrap:wrap;
       }
      input {
        font-size: 1.6rem;
        color: #868686;
        padding: 8px 2rem 5px;
        background-color: #f4f4f4;
        outline: 1px solid #D8D8D8;
        border: none;
        border-bottom: 3px solid transparent;
        width: 100%;
        display: block;
        transition: all .3s;	    
        line-height: 1.3;
        min-height: 3.7rem;
        background-clip: border-box;
        outline-offset: 0 !important;
    
        &:focus {
          outline: 1px solid #D8D8D8;
          box-shadow: 0 1rem 2rem rgba($black, .1) !important;
          border-bottom: 3px solid $bxp-blue !important;
          outline-offset: 0 !important;
          background: $white !important;
        }

        &::-webkit-input-placeholder {
          color: #868686;
        }
      }

      &__actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .btn {
          width: 45%;
          @include respond(phone){
            width: 48%;
          }
        }
      }

      .shadow {
        box-shadow: none !important;
      }
    }
    &__temperature{
      width: 88%; 
      float: left; 
      padding-right: 5px;
      @include respond(tab-port){
        width:84%;
      }
      @include respond(small-tab-port){
        width:82%;
      }
      @include respond(small-phone){
        width:85%;
      }
      &--symbol{
        width: 8%; float: left;
      }
    }
  }
  #createNewLocalInspectionForm{
    #inspection-time-start{
      @include respond(phone){
        margin-left:1rem;
      }
    }
    .inspection-time-span{
      @include respond(phone){
        margin-left:1rem;
        margin-right:1rem;
        display:block;
      }
      @include respond(small-phone){
        margin-left:1rem;
        margin-right:1rem;
        display:block;
      }
    }
  }

  
  /* Add New Report (Protocols)*/
  .modal-new-report {
    @include respond (small-desktop){
      width: 95%;
      margin:0 auto;
    }
    .modal-header {
      background: $green;
      &__title-bar{
        @include respond(small-phone){
          display:flex;
          flex-wrap:wrap;
          margin:1rem 3.4rem;
        }
      }
    }

    &__protocol-version {
      font-size: 1.4rem;
      font-weight: 600;
      display: flex;
      align-items: center;

      &__text {
        color: $white;
        margin-right: 1rem;
      }

      &__link {
        background: $white;
        padding: 2px 1rem;
        font-size: 1.2rem;
        color: $green;
        border-radius: 2px;

        &:hover {
          text-decoration: underline;
        }

        &.delete-button {
          margin-left: -2px;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 2.4rem;
          padding: 2px 6px;

          .btn-remove-rounded__icon {
            fill: $red;
          }
        }
      }

      .dropdown-basic {
        margin-left: 2rem;
        
        .dropdown-toggle {
          min-width: auto;
          padding: 6px .9rem;
        }

        .dropdown-item {
          span {
            font-size: 1.2rem;
            font-weight: 500;
          }
        }

        &__name {
          font-size: 1.2rem;
        }
      }
    }

    &__custom-form-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &__left {
      width: 20%;
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      &__upload{
        @include respond(tab-port){
          margin-top:4rem;
        }
      }
      @include respond(tab-port){
        width:50%;
      }
      @include respond(phone){
        width: 100%;
      }
    }

    &__right {
      width: 77%;
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      @include respond(tab-port){
        width:50%;
      }
      @include respond(phone){
        width: 100%;
      }
    }
    .modal-footer{
        &__right{
          @include respond(small-tab-port){
            flex-wrap:wrap;
          }
          @include respond(phone){
            flex-direction: row;
            flex-wrap:wrap;
            justify-content: space-between;
          }
        }
    }
    .dropdown-footer{
      @include respond(small-tab-port){
        margin-bottom:1rem;
      }
      @include respond(phone){
        margin-right:.5rem;
        margin-bottom:0rem;
      }
      @include respond(small-phone){
        flex-grow: 1;
        margin-right:.3rem;
      }
    }
    .btn-modal-primary{
      @include respond(small-tab-port){
        flex-grow: 1;
      }
      @include respond(phone){
        flex-grow:1;
      }
      @include respond(small-phone){
        flex-grow:1;
      }
    }
    .btn-secondary{
      @include respond(small-tab-port){
        margin-bottom:1rem;
      }
    }
  }


  /* PDF Viewer Modal*/
  .modal-pdf-viewer {
    min-height: 95vh;

    .modal-header {
      height: auto;
      min-height: auto;
      background: red;

      &__title-bar {
        margin: 2.2rem 3.4rem;
      }
    }

    .modal-body {
      overflow: auto !important;
      padding: 0;
    }

    &__zoom-status {
      margin-left: 2rem;
      font-size: 1.5rem;
      border-bottom: 1px solid #d8d8d8;
      color: #8e8e8e;
      line-height: 1;
      display: flex;
      align-items: center;
      padding: 6px 1.5rem;
    }

    #viewerContainer .page {
      margin: 0 auto;
    }
  }

  /* Convert Order Modal */
  .modal-convert-order {
    .modal-header {
      background: $green;
    }

    .modal-body {
      display: flex;
      min-height: 17rem;
      align-items: center;
      flex-wrap: wrap;
    }
  }

  /* Customer Accept Offer Modal */
  .modal-accept-offer {
    .modal-header {
      background: $green;
    }

    .modal-body {
      display: flex;
      min-height: 17rem;
      align-items: center;
    }

    .modal-information-text {
      width: 100%;
      text-align: center;
    }
  }

  /* Lost Modal */
  .modal-lost {
    .modal-header {
      background: $red;
    }

    .modal-body {
      min-height: 25rem;
    }
  }

  /* Missing Data Modal */
  .modal-missing-data {
    .modal-header {
      background: $orange;
    }

    .modal-body {
      min-height: 25rem;
    }
  }
  /* Customer Decline Offer Modal */
  .modal-decline-offer {
    .modal-header {
      background: $red;
    }

    .modal-body {
      display: flex;
      min-height: 17rem;
      align-items: center;
    }

    .modal-information-text {
      width: 100%;
      text-align: center;
    }
  }

  /* Delete Modal */
  .modal-delete {
    .modal-header {
      background: red;
    }

    .modal-body {
      color: #535353;
      display: flex;
      min-height: 17rem;
      align-items: center;
      flex-wrap: wrap;
    }
  }
}

/* Vergabe Modal */
.vergabe-modal {

  &__link {
    font-size: 1.2rem;
    color: #408FC7 !important;
    text-decoration: underline !important;
  }

  &__further-settings {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  &__checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__label {
      font-size: 1.4rem;
      color: #484848;
    }

    &__right {
      display: flex;

      .form__currency input{
        width: 8.5rem;
        padding: 8px 5px 5px 5px;
      }
    }
  }

  &__input {
    padding: 5px;
  }
}

/* Data Error Modal */
.data-error-list {
  list-style: none;
  padding-left: 0;

  li {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ededed;
    padding: 2rem 0rem;

    &:last-child {
      border-bottom:0;
    }

    &.text-success {
      color: #555;

      &__success {
        color:#29C484 !important;
      }

      .text-danger {
        
        &__warning {
          display: flex;
          align-items:center;
          justify-content: space-between;
          width: calc(100% - 5rem);

          &__text {
            color: #F1C40F;
            margin-right: 1rem;
          }
        }
      }
    }
  }


  .icon-warning {
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid #F1C40F;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5rem;

    &__icon {
      width: 1.2rem;
      height:1 .2rem;
    }
  }

  .icon-check {
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid #29C484;
    background: #29C484;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5rem;

    &__icon {
      fill: #fff;
      width: 1.2rem;
      height: 1.2rem;
    }
  }

  .icon-plus {
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid #cacaca;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    &__icon {
      fill: #cacaca;
      width: 1.2rem;
      height:1 .2rem;
    }
  }

  .icon-warning, .icon-check {
    margin-right: 1rem;
    margin-top: 0;
  }
}

/* Suggestions Modal */
.modal-contact-suggestions {
  .modal-body {
    padding: 0;
  }
}

/* Heading Description Modal */
.modal-heading-description {
  &__paragraph {
    padding: 2rem;
    background: #f7f7f7;
    border-radius: 5px;
    font-size: 1.4rem;
    margin-bottom: 0;
  }
}

/* Modal Configurations */
.min-modal-h-500 {
  min-height: 50rem !important;
}

.min-modal-h-600 {
  min-height: 60rem !important;
}

.modal-open .header {
  padding-right: 17px;
}

.modal-xl {
  max-width: 1250px;
}

.modal-event {
  max-width: 540px;
}

.modal-size-pdf-viewer {
  max-width: 850px;
}

/* Required for modals that tall & has max-height property */
.modal-content.scrollable {
  .modal-body {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

#modal-common-bill.wide {
  .modal-dialog {
    max-width: 1250px;

    .modal-body { 
      display: flex;
      justify-content: space-between;

      .modal-common-bill__left {
        width: 62%;
      }
    }
  }
}

/*
.modal-dialog{
  @include respond(tab-land){
    max-width: 95%;
    margin:0 auto;
  }
  @include respond(small-tab-port){
    max-width: 95%;
    margin:0 auto;
  }
  @include respond(phone){
    max-width: 95%;
    margin:0 auto;
  }
}
.modal-lg {
  max-width:60%;
  @include respond(small-desktop){
    max-width:80%;
  }
  @include respond(tab-land){
    max-width:90%;
  }
}
*/

.modal-permission {

  &__search{
    width: 100%;
    border-radius: 5rem;
    padding:1rem 3rem;
    border:0;
    background:#f5f5f5;

    &::placeholder{
      font-style:normal !important;
      padding:0rem -1rem;
    }
    
    &-icon {
      width: 1.6rem;
      height:auto;
      position: absolute;
      z-index:10;
      right:3rem;
      top:-4.7rem;
      fill: #c7c7c7;
    }
  }

  &__container{
    width: 100%;
    padding:1rem;
    position: relative;

    &-fluid{
      width: 100%;
      position: relative;
    }
  }

  &__title{
    width: 100%;
    padding:1.4rem 1rem;
    border-bottom:1px solid #dedede;
  }
  
  &__select-all {
    padding:1.4rem 2rem 0;
    display:flex;

    &--checkbox {

      &__button {
        position: relative;
        margin-top:1.5rem;
        margin-right:.7rem;
      }
    }
  }
  &__checkbox-label{
    display:flex;
    align-items:center;
    padding:.4rem 1rem;

    p{
      font-size:1.4rem;
      font-style: normal !important;
      margin-bottom:0 !important;
    }

  }

  &__list{
    border:1px solid #dedede;
    background:#f9f9f9;
    padding:1rem 3rem;
    display:flex;
    flex-direction: row;
    align-items: center;
    border-radius: 4rem;
    justify-content: flex-start;

    &.active{
      border:1px solid $bxp-blue;
    }

    &--checkbox{
      order:1;
    }

    &--code{
      font-size:1.2rem;
      order:2;
      flex-grow:1;
    }

    &--badge{
      order:4;
      
      .badge{
        font-weight: 500;
        padding:.4rem 1.2rem;
        border-radius: 1rem;
      }
    }

    &--title{
      order:3;
      flex-grow:15;
    }
  }
}
