
/* Multiselect Options */

.multiselect {
  font-size: 1.4rem;
  color: #868686;
  cursor: pointer;
  min-height: auto;

  &__tags-wrap {
    padding-right: 1rem;
    max-width: calc(100% - 1rem);
  }

  &__tags {
    font-size: 1.4rem;
    color: #868686;
    padding: 5px 2rem;
    background-color: #f4f4f4;
    outline: 1px solid #D8D8D8;
    border: none;
    width: 100%;
    transition: all .3s;
    line-height: 1.3;
    min-height: 3.7rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }

  &__option {
    white-space: initial;
  }

  &__tag {
    margin-bottom: 0;
    /* https://pixelkultur.atlassian.net/browse/V2-53
    max-width: calc(100% - 1.7rem);
    */
  }

  &__tag-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__placeholder {
    margin-bottom: 0 !important;
    vertical-align: middle;
    color: transparent;
    font-style: italic;
    display: none !important;
  }
  
  &__single, &__input {
    vertical-align: middle;
    background: transparent;
    padding: 0;
    line-height: 1.3;
    margin-bottom: 0;
  }

  &__content-wrapper {
    outline: 1px solid #D8D8D8;
    border: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 2rem;
  }

  &__content {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &__spinner {
    background: #f4f4f4;
  }

  &__option--highlight, &__option--highlight::after {
    background: $green;
  }

  &__option--highlight::after {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }

  &__option--highlight::after {
    content: "" !important;
  }
  
  &__option--selected.multiselect__option--highlight,  
  &__option--selected.multiselect__option--highlight::after{
    background-color: $red;
  }

  &__option--selected {
    
    & > span {
      width: calc(100% - 4rem);
      display: block;
    }
  }

  &__option--selected::after {
    content: " " !important;
    /*background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='31' height='32' fill='%23999' viewBox='0 0 31 32'%3E%3Ctitle%3Echeck%3C/title%3E%3Cpath d='M11.087 23.301l-5.262-7.184c-0.591-0.768-1.51-1.258-2.544-1.258-1.767 0-3.2 1.433-3.2 3.2 0 0.734 0.247 1.41 0.662 1.949l-0.006-0.008 8.155 10.777c0.584 0.77 1.499 1.262 2.529 1.262 0.005 0 0.010 0 0.015 0h0.135c1.082-0.041 2.020-0.623 2.555-1.482l0.008-0.013 15.845-25.631c0.319-0.488 0.509-1.086 0.509-1.728 0-1.761-1.428-3.189-3.189-3.189-1.119 0-2.103 0.576-2.672 1.448l-0.008 0.012z'%3E%3C/path%3E%3C/svg%3E%0A");*/
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='%23969696' viewBox='0 0 32 32'%3E%3Ctitle%3Eremove-filter%3C/title%3E%3Cpath d='M27.994 0h-23.988c-2.213 0-4.006 1.794-4.006 4.006v0 23.988c0.041 2.186 1.816 3.944 4.005 3.957h23.989c2.169-0.041 3.916-1.788 3.957-3.953v-24.016c-0.014-2.185-1.774-3.954-3.954-3.982h-0.003zM25.536 22.12l-3.416 3.441-6.12-6.12-6.169 6.12-3.392-3.441 6.12-6.12-6.12-6.169 3.392-3.416 6.169 6.12 6.12-6.12 3.465 3.416-6.12 6.169z'%3E%3C/path%3E%3C/svg%3E");
    width: 4rem !important;
    height: 100% !important;
    display: flex !important;
    background-repeat: no-repeat !important;
    background-size: 30% !important;
    background-position: center center !important;
    background-color: #f3f3f3;

  }

  &__option--highlight.multiselect__option--selected::after {
    content: " " !important;
    color: $white;
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='white' viewBox='0 0 32 32'%3E%3Ctitle%3Eremove-filter%3C/title%3E%3Cpath d='M27.994 0h-23.988c-2.213 0-4.006 1.794-4.006 4.006v0 23.988c0.041 2.186 1.816 3.944 4.005 3.957h23.989c2.169-0.041 3.916-1.788 3.957-3.953v-24.016c-0.014-2.185-1.774-3.954-3.954-3.982h-0.003zM25.536 22.12l-3.416 3.441-6.12-6.12-6.169 6.12-3.392-3.441 6.12-6.12-6.12-6.169 3.392-3.416 6.169 6.12 6.12-6.12 3.465 3.416-6.12 6.169z'%3E%3C/path%3E%3C/svg%3E");
  }

  &--active {
    box-shadow: 0 1rem 2rem rgba($black, .1);
  }

  &__select {
    height: 3.6rem;
  }

  &--disabled &__current, 
  &--disabled &__select {
    background: transparent;
    color: #868686;
  }

  &-vergabe {
    .multiselect__tags {
      padding: 5px 2rem 5px 5px;
    }
    .multiselect__select {
      width: auto;
    }
  }
}

.multiselect__content-wrapper::-webkit-scrollbar-track
{
  background-color: $white;
}

.multiselect__content-wrapper::-webkit-scrollbar
{
  width: 3px;
  height: 3px;
  background-color:$white;
}

.multiselect__content-wrapper::-webkit-scrollbar-thumb
{
  border-radius: 4px;
  background-color: #ddd;
}

.multiselect__tags,
.multiselect__input,
.multiselect__single,
.multiselect__tag,
.multiselect__tag-icon,
.multiselect__current
{
  border-radius: 0px !important;
}

.multiselect__placeholder {
  margin-bottom: 10px;
  padding-top: 0px;
}

.multiselect, .multiselect__input,
.multiselect__single {
  font-size: 1.4rem;
}

.multiselect__option[data-deselect="allow-empty-false"].multiselect__option--selected::after {
  background: none !important;
}

.multiselect__option[data-deselect="allow-empty-false"].multiselect__option--selected.multiselect__option--highlight {
  background: $green !important;
}

.multiselect__option[data-deselect="allow-empty-false"].multiselect__option--selected.multiselect__option--highlight::after {
  display: none !important;
}

/*
.multiselect.not-allowed {
  .multiselect__option--selected.multiselect__option--highlight,
  .multiselect__option--selected.multiselect__option--highlight::after,
  .multiselect__option[data-deselect="allow-empty-false"].multiselect__option--selected.multiselect__option--highlight,
  .multiselect__option[data-deselect="allow-empty-false"].multiselect__option--selected.multiselect__option--highlight::after {

  }
}
*/