
.panel {
  border-radius: .5rem;
  border: 1px solid #f4f4f4;

  .panel-heading {
    color: #fff;
    font-weight: 500;
    border-color: #fff;
    padding: 1.5rem 2rem;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    background-color: transparent;
    border-bottom: 3px solid #7f8c8d;
    color: #7f8c8d;
  }

  &.panel-success {
    .panel-heading {
      border-color: $green;
      color: $green;
    }
  }

  &.panel-warning {
    .panel-heading {
      border-color: $orange;
      color: $orange;
    }
  }

  &.panel-info {
    .panel-heading {
      border-color: $bxp-blue;
      color: $bxp-blue;
    }
  }

  &.panel-danger {
    .panel-heading {
      border-color: $red;
      color: $red;
    }
  }

  .panel-body {
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    padding: 2rem;
    font-size: 1.4rem;
  }
}