/* reminder: 
We need to use tooltips everywhere like zendesk do. 
So we need a global tooltip design (fk) 
*/

.inline-info-tooltip {
  width: 1.5rem;
  height: 1.5rem;
  fill: $bxp-blue;
  margin: 0 .5rem;

  &.gray {
    fill: #A8A8A8;
  }
}

.tooltip {
  font-size: 1.1rem;
  pointer-events: none;

  .tooltip-inner {
    background-color: $bxp-blue;
  }
}

.bs-tooltip-top .arrow::before,
.bs-tooltip-auto[x-placement^="top"]
.arrow::before,
.tooltip.b-tooltip-primary.bs-tooltip-auto[x-placement^="top"]
.arrow::before,
.tooltip.b-tooltip-secondary.bs-tooltip-auto[x-placement^="top"]
.arrow::before,
.tooltip.b-tooltip-success.bs-tooltip-auto[x-placement^="top"]
.arrow::before,
.tooltip.b-tooltip-info.bs-tooltip-auto[x-placement^="top"]
.arrow::before,
.tooltip.b-tooltip-warning.bs-tooltip-auto[x-placement^="top"]
.arrow::before,
.tooltip.b-tooltip-danger.bs-tooltip-auto[x-placement^="top"]
.arrow::before,
.tooltip.b-tooltip-light.bs-tooltip-auto[x-placement^="top"]
.arrow::before,
.tooltip.b-tooltip-dark.bs-tooltip-auto[x-placement^="top"]
.arrow::before {
  border-top-color: $bxp-blue;
}

.bs-tooltip-left
.arrow::before,
.bs-tooltip-auto[x-placement^="left"]
.arrow::before,
.tooltip.b-tooltip-primary.bs-tooltip-auto[x-placement^="left"]
.arrow::before,
.tooltip.b-tooltip-secondary.bs-tooltip-auto[x-placement^="left"]
.arrow::before,
.tooltip.b-tooltip-success.bs-tooltip-auto[x-placement^="left"]
.arrow::before,
.tooltip.b-tooltip-info.bs-tooltip-auto[x-placement^="left"]
.arrow::before,
.tooltip.b-tooltip-warning.bs-tooltip-auto[x-placement^="left"]
.arrow::before,
.tooltip.b-tooltip-danger.bs-tooltip-auto[x-placement^="left"]
.arrow::before,
.tooltip.b-tooltip-light.bs-tooltip-auto[x-placement^="left"]
.arrow::before,
.tooltip.b-tooltip-dark.bs-tooltip-auto[x-placement^="left"]
.arrow::before {
  border-left-color: $bxp-blue;
}